<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"

	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/security
			http://www.springframework.org/schema/security/spring-security-3.0.xsd
			http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context-3.0.xsd
			http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd">

	<beans:description>
		This is the security configuration for the application.
	</beans:description>

	<context:annotation-config />
	<context:component-scan base-package="ikube" />
	<aop:aspectj-autoproxy proxy-target-class="false" />
	<global-method-security secured-annotations="enabled" />

	<http access-denied-page="/login.jsp" auto-config="true">
		<form-login 
			always-use-default-target="false" 
			authentication-failure-url="/login.jsp?login_error=t" 
			default-target-url="/app"
			login-page="/login.jsp" 
			login-processing-url="/j_spring_security_check" />
		<logout logout-url="/j_spring_security_logout" />
		<intercept-url filters="none" pattern="/VAADIN/**" />
		<intercept-url filters="none" pattern="/*.jsp" />
		<intercept-url access="IS_AUTHENTICATED_FULLY" pattern="/**" />
	</http>

	<!-- This is the authentication manager that will block access to the user interface if the user is not logged in. -->
	<authentication-manager alias="authenticationManager">
		<!-- Local authentication provider. -->
		<authentication-provider user-service-ref="userService" />
	</authentication-manager>

	<!-- This bean enables the authorization. -->
	<beans:bean 
		id="defaultWebSecurityExpressionHandler" 
		class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" />

</beans:beans>