<?xml version="1.0" encoding="UTF-8"?>

<beans
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:property="http://www.springframework.org/schema/p"

	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!--
		property:testConnectionOnCheckin="true"
		property:testConnectionOnCheckout="true"
		property:autoCommitOnClose="true"
		property:debugUnreturnedConnectionStackTraces="true"
	-->
	<bean id="nonXaDataSource"
		class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close"
		property:driverClass="${jdbc.driver}"
		property:initialPoolSize="${jdbc.minPoolSize}"
		property:jdbcUrl="${jdbc.url}"
		property:maxPoolSize="${jdbc.maxPoolSize}"
		property:maxStatements="${jdbc.maxStatements}"
		property:password="${jdbc.password}"
		property:user="${jdbc.user}"
		property:checkoutTimeout="${jdbc.checkOutTimeout}"
		property:numHelperThreads="${jdbc.numHelperThreads}" />

</beans>