<?xml version="1.0" encoding="UTF-8"?>

<beans
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:property="http://www.springframework.org/schema/p"
        xmlns:util="http://www.springframework.org/schema/util"

        xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd


            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd">

	<description>This is the index for Artvens, the web design company.</description>
	
	<bean
		id="artvens"
		class="ikube.model.IndexContext"
		property:name="artvens"
		property:maxAge="600"
		property:compoundFile="true"
		property:bufferedDocs="10"
		property:bufferSize="32"
		property:internetBatchSize="10"
		property:mergeFactor="10"
		property:maxFieldLength="10000"
		property:maxReadLength="10000000"
		property:throttle="0"
		property:indexDirectoryPath="${index.directory.path}"
		property:indexDirectoryPathBackup="${index.directory.path.backup}"
		property:analyzer-ref="ikube.action.index.analyzer.EdgeNgramAnalyzer"
		property:children-ref="artvens-indexables" />
	<util:list id="artvens-indexables">
		<ref local="artvens-internet" />
	</util:list>
	
	<bean
		id="artvens-internet"
		class="ikube.model.IndexableInternet"
		property:name="artvens-internet"
		property:url="http://www.artvens.com"
		property:idFieldName="id"
		property:titleFieldName="title"
		property:contentFieldName="content"
		property:analyzed="true"
		property:stored="true"
		property:vectored="true"
		property:threads="5"
		property:maxReadLength="10000000"
		property:excludedPattern="${internet.excluded.pattern}"
		property:internetBatchSize="${internet.batch.size}" />
		
</beans>