<?xml version="1.0" encoding="UTF-8"?>

<beans
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:property="http://www.springframework.org/schema/p"

    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <description>This is the configuration for the Grid Gain grid</description>

    <bean
        id="org.gridgain.grid.GridConfiguration"
        class="org.gridgain.grid.GridConfiguration"
        lazy-init="false"
        property:discoverySpi-ref="org.gridgain.grid.spi.discovery.tcp.GridTcpDiscoverySpi">
    </bean>

    <bean
        id="org.gridgain.grid.spi.discovery.tcp.GridTcpDiscoverySpi"
        class="org.gridgain.grid.spi.discovery.tcp.GridTcpDiscoverySpi"
          property:ipFinder-ref="org.gridgain.grid.spi.discovery.tcp.ipfinder.multicast.GridTcpDiscoveryMulticastIpFinder">
    </bean>

    <bean
        id="org.gridgain.grid.spi.discovery.tcp.ipfinder.multicast.GridTcpDiscoveryMulticastIpFinder"
        class="org.gridgain.grid.spi.discovery.tcp.ipfinder.multicast.GridTcpDiscoveryMulticastIpFinder"
        property:multicastGroup="224.0.0.1">
    </bean>

    <bean
        id="org.gridgain.grid.Grid"
        class="org.gridgain.grid.GridSpringBean"
        lazy-init="false"
        property:configuration-ref="org.gridgain.grid.GridConfiguration">
    </bean>

    <bean
        id="ikube.cluster.gg.ClusterManagerGridGain"
        class="ikube.cluster.gg.ClusterManagerGridGain"
        lazy-init="false"
        init-method="initialize"
        destroy-method="destroy"
        property:grid-ref="org.gridgain.grid.Grid" />

</beans>