<?xml version="1.0" encoding="UTF-8"?>

<!--suppress ALL -->
<beans
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:property="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"

    xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd">

    <bean
        name="twitter"
        class="ikube.model.IndexContext"
        property:name="twitter"
        property:maxAge="0"
        property:compoundFile="true"
        property:bufferedDocs="100"
        property:bufferSize="128"
        property:mergeFactor="100"
        property:batchSize="${jdbc.batch.size}"
        property:internetBatchSize="${internet.batch.size}"
        property:maxFieldLength="${max.field.length}"
        property:maxReadLength="${max.read.length}"
        property:analyzer-ref="twitter-analyzer"
        property:address="false"
        property:throttle="0"
        property:delta="true"
        property:indexDirectoryPath="${index.directory.path}"
        property:indexDirectoryPathBackup="${index.directory.path.backup}"
        property:children-ref="twitter-indexables"
        destroy-method="destroy"/>
    <util:list id="twitter-indexables">
        <ref bean="twitter-index"/>
    </util:list>

    <bean
        name="twitter-analyzer"
        class="ikube.action.index.analyzer.StemmingAnalyzer"
        property:useStopWords="false"
        init-method="initialize"/>

    <!-- Request token url : https://api.twitter.com/oauth/request_token
    Authorize url : https://api.twitter.com/oauth/authorize
    Access token url : https://api.twitter.com/oauth/access_token

    property:consumerKey="WSQs59mLxb9mGFcPKtJMyw"
    property:consumerSecret="lHfsHqI8IrdpRINHTsZwH7cnqz8pgN7uNt9Jz8bE66Q"
    property:token="2257682162-Z4HFFXnmucyRS3TuCTPE3dOpr2qEYuaE5WiExOp"
    property:tokenSecret="6YdLo8Udm5SVMO3WGX1753xnKdGp5eBalQBtcKTb19CpI"

    property:consumerKey="Sohh43DylUwaXr7smSojBA"
    property:consumerSecret="90xubtexbSwhHBbKXM62pF4QfJnz1NWVkpevwde3Qxo"
    property:token="380355068-JIMLrQyZglGs4WLXo2UShCmXMAMjWeaiZ15ZJkrp"
    property:tokenSecret="OyhI9UyioglNWrhJnQQWY2ULmNtt9Azfl70z0l8jOPM"
    -->

    <bean
        name="twitter-index"
        class="ikube.model.IndexableTweets"
        property:name="twitter-index"
        property:address="false"
        property:maxExceptions="1000"
        property:stored="true"
        property:analyzed="true"
        property:vectored="false"
        property:threads="6"

        property:consumerKey="${consumer-key}"
        property:consumerSecret="${consumer-secret}"
        property:token="${token}"
        property:tokenSecret="${token-secret}"

        property:textField="contents"
        property:createdAtField="created-at"
        property:fromUserField="from-user"
        property:locationField="location"
        property:userLocationField="userLocation"
        property:userNameField="userName"
        property:userScreenNameField="userScreenName"
        property:userTimeZoneField="userTimeZone"
        property:userUtcOffsetField="userUtcOffset"
        property:userLanguageField="userLanguage"
        property:clones="0"

        property:strategies-ref="twitter-strategies"/>
    <util:list id="twitter-strategies">
        <ref bean="ikube.action.index.handler.strategy.EmoticonClassificationStrategy"/>
        <ref bean="ikube.action.index.handler.strategy.LanguageFilterStrategy"/>
        <ref bean="ikube.action.index.handler.strategy.LanguageCleaningStrategy"/>
        <ref bean="ikube.action.index.handler.strategy.LanguageDetectionStrategy"/>
        <ref bean="ikube.action.index.handler.strategy.TwitterGeospatialEnrichmentStrategy"/>

        <!-- Train the language specific classifiers -->
        <!--<ref bean="twitter-training-strategy-en"/>-->
        <!-- Use the trained language specific classifiers -->
        <ref bean="twitter-classification-strategy"/>
    </util:list>

    <!-- These are the language classifiers, they are trained by the Twitter data -->
    <!-- English -->
    <bean
        name="sentiment-naive-bays-twitter"
        class="ikube.model.Context"
        property:name="sentiment-naive-bays-twitter"
        property:analyzer="ikube.analytics.weka.WekaClassifier">
        <property name="algorithms">
            <list>
                <value>weka.classifiers.bayes.NaiveBayesMultinomial</value>
                <value>weka.classifiers.bayes.NaiveBayesMultinomial</value>
                <value>weka.classifiers.bayes.NaiveBayesMultinomial</value>
                <value>weka.classifiers.bayes.NaiveBayesMultinomial</value>
                <value>weka.classifiers.bayes.NaiveBayesMultinomial</value>
                <value>weka.classifiers.bayes.NaiveBayesMultinomial</value>
                <value>weka.classifiers.bayes.NaiveBayesMultinomial</value>
                <value>weka.classifiers.bayes.NaiveBayesMultinomial</value>
                <value>weka.classifiers.bayes.NaiveBayesMultinomial</value>
                <value>weka.classifiers.bayes.NaiveBayesMultinomial</value>
                <value>weka.classifiers.bayes.NaiveBayesMultinomial</value>
                <value>weka.classifiers.bayes.NaiveBayesMultinomial</value>
            </list>
        </property>
        <property name="fileNames">
            <list>
                <!-- English -->
                <value>sentiment-en.arff</value>
                <!-- Spanish -->
                <value>sentiment-es.arff</value>
                <!-- Japanese -->
                <value>sentiment-jp.arff</value>
                <!-- Chinese -->
                <value>sentiment-cn.arff</value>
                <!-- Dutch -->
                <value>sentiment-nl.arff</value>
                <!-- French -->
                <value>sentiment-fr.arff</value>
                <!-- German -->
                <value>sentiment-de.arff</value>
                <!-- Swedish -->
                <value>sentiment-sv.arff</value>
                <!-- Thai -->
                <value>sentiment-th.arff</value>
                <!-- Arabic -->
                <value>sentiment-ar.arff</value>
                <!-- Turkish -->
                <value>sentiment-tr.arff</value>
                <!-- Russian -->
                <value>sentiment-ru.arff</value>
            </list>
        </property>
        <property name="filters">
            <list>
                <value>weka.filters.unsupervised.attribute.StringToWordVector</value>
                <value>weka.filters.unsupervised.attribute.StringToWordVector</value>
                <value>weka.filters.unsupervised.attribute.StringToWordVector</value>
                <value>weka.filters.unsupervised.attribute.StringToWordVector</value>
                <value>weka.filters.unsupervised.attribute.StringToWordVector</value>
                <value>weka.filters.unsupervised.attribute.StringToWordVector</value>
                <value>weka.filters.unsupervised.attribute.StringToWordVector</value>
                <value>weka.filters.unsupervised.attribute.StringToWordVector</value>
                <value>weka.filters.unsupervised.attribute.StringToWordVector</value>
                <value>weka.filters.unsupervised.attribute.StringToWordVector</value>
                <value>weka.filters.unsupervised.attribute.StringToWordVector</value>
                <value>weka.filters.unsupervised.attribute.StringToWordVector</value>
            </list>
        </property>
        <property name="maxTrainings">
            <list>
                <value>${max-training}</value>
                <value>${max-training}</value>
                <value>${max-training}</value>
                <value>${max-training}</value>
                <value>${max-training}</value>
                <value>${max-training}</value>
                <value>${max-training}</value>
                <value>${max-training}</value>
                <value>${max-training}</value>
                <value>${max-training}</value>
                <value>${max-training}</value>
                <value>${max-training}</value>
            </list>
        </property>
    </bean>

    <bean
        id="ikube.action.index.handler.strategy.TwitterGeospatialEnrichmentStrategy"
        name="ikube.action.index.handler.strategy.TwitterGeospatialEnrichmentStrategy"
        class="ikube.action.index.handler.strategy.TwitterGeospatialEnrichmentStrategy"
        init-method="initialize"
        depends-on="ikube.toolkit.DataManager"
        lazy-init="true"/>

    <bean
        id="twitter-classification-strategy"
        class="ikube.action.index.handler.strategy.AnalysisStrategy"
        property:context-ref="sentiment-naive-bays-twitter"
        init-method="initialize"/>

</beans>
