<?xml version="1.0" encoding="UTF-8"?>

<beans
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:property="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"

	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd">

	<description>
		This file is not to be modified by users generally. This is the configuration for the geospatial index which is an index 
		of the geonames table on the Ikube server. 
	</description>
	
	<bean
		id="twitter"
		class="ikube.model.IndexContext"
		property:name="twitter"
		property:maxAge="0"
		property:compoundFile="true"
		property:bufferedDocs="100"
		property:bufferSize="128"
		property:mergeFactor="100"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:maxFieldLength="${max.field.length}"
		property:maxReadLength="${max.read.length}"
		property:address="false"
		property:throttle="0"
		property:delta="true"
		property:indexDirectoryPath="${index.directory.path}"
		property:indexDirectoryPathBackup="${index.directory.path.backup}"
		property:children-ref="twitter-indexables"
		property:analyzer-ref="ikube.action.index.analyzer.NgramAnalyzer.Twitter" />
	<util:list id="twitter-indexables">
		<ref local="twitter-index" />
	</util:list>
	
	<bean 
		id="ikube.action.index.analyzer.NgramAnalyzer.Twitter"
		name="ikube.action.index.analyzer.NgramAnalyzer.Twitter"
		class="ikube.action.index.analyzer.NgramAnalyzer" 
		property:minGram="3"
		property:maxGram="15" />
	
	<bean
		id="twitter-index"
		class="ikube.model.IndexableTweets"
		property:name="twitter-index"
		property:address="false"
		property:maxExceptions="100"
		property:stored="true"
		property:analyzed="true"
		property:vectored="true"
		property:threads="24"
		
		property:consumerKey="Sohh43DylUwaXr7smSojBA"
		property:consumerSecret="90xubtexbSwhHBbKXM62pF4QfJnz1NWVkpevwde3Qxo"
		property:token="380355068-JIMLrQyZglGs4WLXo2UShCmXMAMjWeaiZ15ZJkrp"
		property:tokenSecret="OyhI9UyioglNWrhJnQQWY2ULmNtt9Azfl70z0l8jOPM"
		
		property:textField="contents" 
		property:createdAtField="created-at"
		property:fromUserField="from-user"
		property:locationField="location"
		
		property:strategies-ref="twitter-strategies" />
	<util:list id="twitter-strategies">
		<ref bean="ikube.action.index.handler.strategy.LanguageCleaningStrategy" />
		<ref bean="ikube.action.index.handler.strategy.LanguageDetectionStrategy" />
		<!-- <ref bean="ikube.action.index.handler.strategy.GeospatialEnrichmentStrategy" /> -->
		<ref bean="ikube.action.index.handler.strategy.EmoticonClassificationStrategy" />
		<ref bean="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.en" />
		<ref bean="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.es" />
		<ref bean="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.jp" />
		<ref bean="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.cn" />
		<ref bean="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.nl" />
		<ref bean="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.fr" />
		<ref bean="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.de" />
		<ref bean="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.sv" />
		<ref bean="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.th" />
		<ref bean="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.ar" />
		<ref bean="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.tr" />
	</util:list>

	<bean 
    	id="ikube.analytics.WekaClassifier.en"
    	name="ikube.analytics.WekaClassifier.en"
    	class="ikube.analytics.WekaClassifier"
    	init-method="initialize"
    	lazy-init="false" />
	<bean 
		id="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.en" 
		name="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.en" 
		class="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy"
		init-method="initialize"
		property:language="en" 
		property:maxTraining="100000" 
		property:classifier-ref="ikube.analytics.WekaClassifier.en" />
	<bean 
    	id="ikube.analytics.WekaClassifier.es"
    	name="ikube.analytics.WekaClassifier.es"
    	class="ikube.analytics.WekaClassifier"
    	init-method="initialize" 
    	lazy-init="false" />
    <bean
		id="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.es"
		name="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.es" 
    	class="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy"
    	init-method="initialize"
    	property:language="es"
    	property:maxTraining="100000"
    	property:classifier-ref="ikube.analytics.WekaClassifier.es" />
	<bean 
    	id="ikube.analytics.WekaClassifier.jp"
    	name="ikube.analytics.WekaClassifier.jp"
    	class="ikube.analytics.WekaClassifier"
    	init-method="initialize" 
    	lazy-init="false" />
    <bean
		id="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.jp"
		name="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.jp" 
    	class="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy"
    	init-method="initialize"
    	property:language="jp"
    	property:maxTraining="100000"
    	property:classifier-ref="ikube.analytics.WekaClassifier.jp" />
   	<bean 
    	id="ikube.analytics.WekaClassifier.cn"
    	name="ikube.analytics.WekaClassifier.cn"
    	class="ikube.analytics.WekaClassifier"
    	init-method="initialize" 
    	lazy-init="false" />
    <bean
		id="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.cn"
		name="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.cn" 
    	class="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy"
    	init-method="initialize"
    	property:language="cn"
    	property:maxTraining="100000"
    	property:classifier-ref="ikube.analytics.WekaClassifier.cn" />
    <bean 
    	id="ikube.analytics.WekaClassifier.nl"
    	name="ikube.analytics.WekaClassifier.nl"
    	class="ikube.analytics.WekaClassifier"
    	init-method="initialize" 
    	lazy-init="false" />
    <bean
		id="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.nl"
		name="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.nl" 
    	class="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy"
    	init-method="initialize"
    	property:language="nl"
    	property:maxTraining="100000"
    	property:classifier-ref="ikube.analytics.WekaClassifier.nl" />
    <bean 
    	id="ikube.analytics.WekaClassifier.fr"
    	name="ikube.analytics.WekaClassifier.fr"
    	class="ikube.analytics.WekaClassifier"
    	init-method="initialize" 
    	lazy-init="false" />
    <bean
		id="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.fr"
		name="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.fr" 
    	class="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy"
    	init-method="initialize"
    	property:language="fr"
    	property:maxTraining="100000"
    	property:classifier-ref="ikube.analytics.WekaClassifier.fr" />
    <bean 
    	id="ikube.analytics.WekaClassifier.de"
    	name="ikube.analytics.WekaClassifier.de"
    	class="ikube.analytics.WekaClassifier"
    	init-method="initialize" 
    	lazy-init="false" />
    <bean
		id="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.de"
		name="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.de" 
    	class="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy"
    	init-method="initialize"
    	property:language="de"
    	property:maxTraining="100000"
    	property:classifier-ref="ikube.analytics.WekaClassifier.de" />
    <bean 
    	id="ikube.analytics.WekaClassifier.sv"
    	name="ikube.analytics.WekaClassifier.sv"
    	class="ikube.analytics.WekaClassifier"
    	init-method="initialize" 
    	lazy-init="false" />
    <bean
		id="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.sv"
		name="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.sv" 
    	class="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy"
    	init-method="initialize"
    	property:language="sv"
    	property:maxTraining="100000"
    	property:classifier-ref="ikube.analytics.WekaClassifier.sv" />
    <bean 
    	id="ikube.analytics.WekaClassifier.th"
    	name="ikube.analytics.WekaClassifier.th"
    	class="ikube.analytics.WekaClassifier"
    	init-method="initialize" 
    	lazy-init="false" />
    <bean
		id="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.th"
		name="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.th" 
    	class="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy"
    	init-method="initialize"
    	property:language="th"
    	property:maxTraining="100000"
    	property:classifier-ref="ikube.analytics.WekaClassifier.th" />
	<bean 
    	id="ikube.analytics.WekaClassifier.ar"
    	name="ikube.analytics.WekaClassifier.ar"
    	class="ikube.analytics.WekaClassifier"
    	init-method="initialize" 
    	lazy-init="false" />
	<bean 
		id="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.ar" 
		name="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.ar" 
		class="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy"
		init-method="initialize" 
		property:language="ar" 
		property:maxTraining="100000" 
		property:classifier-ref="ikube.analytics.WekaClassifier.ar" />
	<bean 
    	id="ikube.analytics.WekaClassifier.tr"
    	name="ikube.analytics.WekaClassifier.tr"
    	class="ikube.analytics.WekaClassifier"
    	init-method="initialize" 
    	lazy-init="false" />
	<bean 
		id="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.tr" 
		name="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.tr" 
		class="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy"
		init-method="initialize" 
		property:language="tr" 
		property:maxTraining="100000" 
		property:classifier-ref="ikube.analytics.WekaClassifier.tr" />
	<bean 
    	id="ikube.analytics.WekaClassifier.ru"
    	name="ikube.analytics.WekaClassifier.ru"
    	class="ikube.analytics.WekaClassifier"
    	init-method="initialize" 
    	lazy-init="false" />
	<bean 
		id="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.ru" 
		name="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy.ru" 
		class="ikube.action.index.handler.strategy.DynamicallyTrainedLanguageSpecificClassificationStrategy"
		init-method="initialize" 
		property:language="ru" 
		property:maxTraining="100000" 
		property:classifier-ref="ikube.analytics.WekaClassifier.ru" />
		
		
</beans>