<?xml version="1.0" encoding="UTF-8"?>

<!--suppress ALL -->
<beans
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:property="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"

    xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd">

    <bean
        id="twitter"
        class="ikube.model.IndexContext"
        property:name="twitter"
        property:maxAge="0"
        property:compoundFile="true"
        property:bufferedDocs="1000"
        property:bufferSize="128"
        property:mergeFactor="1000"
        property:batchSize="${jdbc.batch.size}"
        property:internetBatchSize="${internet.batch.size}"
        property:maxFieldLength="${max.field.length}"
        property:maxReadLength="${max.read.length}"
        property:analyzer-ref="twitter-analyzer"
        property:address="false"
        property:throttle="0"
        property:delta="true"
        property:indexDirectoryPath="${index.directory.path}"
        property:indexDirectoryPathBackup="${index.directory.path.backup}"
        property:children-ref="twitter-indexables"
        destroy-method="destroy"/>
    <util:list id="twitter-indexables">
        <ref local="twitter-index"/>
    </util:list>

    <bean
        id="twitter-analyzer"
        class="ikube.action.index.analyzer.StemmingAnalyzer"
        property:useStopWords="false"
        init-method="initialize"/>

    <!-- Request token url : https://api.twitter.com/oauth/request_token
    Authorize url : https://api.twitter.com/oauth/authorize
    Access token url : https://api.twitter.com/oauth/access_token

    property:consumerKey="WSQs59mLxb9mGFcPKtJMyw"
    property:consumerSecret="lHfsHqI8IrdpRINHTsZwH7cnqz8pgN7uNt9Jz8bE66Q"
    property:token="2257682162-Z4HFFXnmucyRS3TuCTPE3dOpr2qEYuaE5WiExOp"
    property:tokenSecret="6YdLo8Udm5SVMO3WGX1753xnKdGp5eBalQBtcKTb19CpI"

    property:consumerKey="Sohh43DylUwaXr7smSojBA"
    property:consumerSecret="90xubtexbSwhHBbKXM62pF4QfJnz1NWVkpevwde3Qxo"
    property:token="380355068-JIMLrQyZglGs4WLXo2UShCmXMAMjWeaiZ15ZJkrp"
    property:tokenSecret="OyhI9UyioglNWrhJnQQWY2ULmNtt9Azfl70z0l8jOPM"
    -->

    <bean
        id="twitter-index"
        class="ikube.model.IndexableTweets"
        property:name="twitter-index"
        property:address="false"
        property:maxExceptions="1000"
        property:stored="true"
        property:analyzed="true"
        property:vectored="false"
        property:threads="12"

        property:consumerKey="${consumer-key}"
        property:consumerSecret="${consumer-secret}"
        property:token="${token}"
        property:tokenSecret="${token-secret}"

        property:textField="contents"
        property:createdAtField="created-at"
        property:fromUserField="from-user"
        property:locationField="location"
        property:userLocationField="userLocation"
        property:userNameField="userName"
        property:userScreenNameField="userScreenName"
        property:userTimeZoneField="userTimeZone"
        property:userUtcOffsetField="userUtcOffset"
        property:userLanguageField="userLanguage"
        property:clones="0"

        property:strategies-ref="twitter-strategies"/>
    <util:list id="twitter-strategies">
        <ref bean="ikube.action.index.handler.strategy.EmoticonClassificationStrategy"/>
        <ref bean="ikube.action.index.handler.strategy.LanguageFilterStrategy"/>
        <ref bean="ikube.action.index.handler.strategy.LanguageCleaningStrategy"/>
        <ref bean="ikube.action.index.handler.strategy.LanguageDetectionStrategy"/>
        <ref bean="ikube.action.index.handler.strategy.TwitterGeospatialEnrichmentStrategy"/>

        <!-- Train the language specific classifiers -->
        <ref bean="twitter-training-strategy-en"/>
        <ref bean="twitter-training-strategy-es"/>
        <ref bean="twitter-training-strategy-jp"/>
        <ref bean="twitter-training-strategy-cn"/>
        <ref bean="twitter-training-strategy-nl"/>
        <ref bean="twitter-training-strategy-fr"/>
        <ref bean="twitter-training-strategy-de"/>
        <ref bean="twitter-training-strategy-sv"/>
        <ref bean="twitter-training-strategy-th"/>
        <ref bean="twitter-training-strategy-ar"/>
        <ref bean="twitter-training-strategy-tr"/>
        <ref bean="twitter-training-strategy-ru"/>
        <!-- Use the trained language specific classifiers -->
        <ref bean="twitter-classification-strategy-en"/>
        <ref bean="twitter-classification-strategy-es"/>
        <ref bean="twitter-classification-strategy-jp"/>
        <ref bean="twitter-classification-strategy-cn"/>
        <ref bean="twitter-classification-strategy-nl"/>
        <ref bean="twitter-classification-strategy-fr"/>
        <ref bean="twitter-classification-strategy-de"/>
        <ref bean="twitter-classification-strategy-sv"/>
        <ref bean="twitter-classification-strategy-th"/>
        <ref bean="twitter-classification-strategy-ar"/>
        <ref bean="twitter-classification-strategy-tr"/>
        <ref bean="twitter-classification-strategy-ru"/>
    </util:list>

    <!-- These are the language classifiers, they are trained by the Twitter data -->
    <!-- English -->
    <bean id="sentiment-smo-en" name="sentiment-smo-en" class="ikube.analytics.weka.WekaClassifier"/>
    <bean id="string-to-word-vector-en" class="weka.filters.unsupervised.attribute.StringToWordVector"/>
    <bean id="weka-classifier-smo-en" name="weka-classifier-smo-en" class="weka.classifiers.functions.SMO"/>
    <bean
        id="context-smo-en"
        name="context-smo-en"
        class="ikube.model.Context"
        property:name="sentiment-smo-en"
        property:analyzer-ref="sentiment-smo-en"
        property:filter-ref="string-to-word-vector-en"
        property:algorithm-ref="weka-classifier-smo-en"
        property:maxTraining="${max-training}"/>
    <!-- Spanish -->
    <bean id="sentiment-smo-es" class="ikube.analytics.weka.WekaClassifier"/>
    <bean id="string-to-word-vector-es" class="weka.filters.unsupervised.attribute.StringToWordVector"/>
    <bean id="weka-classifier-smo-es" class="weka.classifiers.functions.SMO"/>
    <bean
        id="context-smo-es"
        class="ikube.model.Context"
        property:name="sentiment-smo-es"
        property:analyzer-ref="sentiment-smo-es"
        property:filter-ref="string-to-word-vector-es"
        property:algorithm-ref="weka-classifier-smo-es"
        property:maxTraining="${max-training}"/>
    <!-- Japanese -->
    <bean id="sentiment-smo-jp" class="ikube.analytics.weka.WekaClassifier"/>
    <bean id="string-to-word-vector-jp" class="weka.filters.unsupervised.attribute.StringToWordVector"/>
    <bean id="weka-classifier-smo-jp" class="weka.classifiers.functions.SMO"/>
    <bean
        id="context-smo-jp"
        class="ikube.model.Context"
        property:name="sentiment-smo-jp"
        property:analyzer-ref="sentiment-smo-jp"
        property:filter-ref="string-to-word-vector-jp"
        property:algorithm-ref="weka-classifier-smo-jp"
        property:maxTraining="${max-training}"/>
    <!-- Chinese -->
    <bean id="sentiment-smo-cn" class="ikube.analytics.weka.WekaClassifier"/>
    <bean id="string-to-word-vector-cn" class="weka.filters.unsupervised.attribute.StringToWordVector"/>
    <bean id="weka-classifier-smo-cn" class="weka.classifiers.functions.SMO"/>
    <bean
        id="context-smo-cn"
        class="ikube.model.Context"
        property:name="sentiment-smo-cn"
        property:analyzer-ref="sentiment-smo-cn"
        property:filter-ref="string-to-word-vector-cn"
        property:algorithm-ref="weka-classifier-smo-cn"
        property:maxTraining="${max-training}"/>
    <!-- Dutch -->
    <bean id="sentiment-smo-nl" class="ikube.analytics.weka.WekaClassifier"/>
    <bean id="string-to-word-vector-nl" class="weka.filters.unsupervised.attribute.StringToWordVector"/>
    <bean id="weka-classifier-smo-nl" class="weka.classifiers.functions.SMO"/>
    <bean
        id="context-smo-nl"
        class="ikube.model.Context"
        property:name="sentiment-smo-nl"
        property:analyzer-ref="sentiment-smo-nl"
        property:filter-ref="string-to-word-vector-nl"
        property:algorithm-ref="weka-classifier-smo-nl"
        property:maxTraining="${max-training}"/>
    <!-- French -->
    <bean id="sentiment-smo-fr" class="ikube.analytics.weka.WekaClassifier"/>
    <bean id="string-to-word-vector-fr" class="weka.filters.unsupervised.attribute.StringToWordVector"/>
    <bean id="weka-classifier-smo-fr" class="weka.classifiers.functions.SMO"/>
    <bean
        id="context-smo-fr"
        class="ikube.model.Context"
        property:name="sentiment-smo-fr"
        property:analyzer-ref="sentiment-smo-fr"
        property:filter-ref="string-to-word-vector-fr"
        property:algorithm-ref="weka-classifier-smo-fr"
        property:maxTraining="${max-training}"/>
    <!-- German -->
    <bean id="sentiment-smo-de" class="ikube.analytics.weka.WekaClassifier"/>
    <bean id="string-to-word-vector-de" class="weka.filters.unsupervised.attribute.StringToWordVector"/>
    <bean id="weka-classifier-smo-de" class="weka.classifiers.functions.SMO"/>
    <bean
        id="context-smo-de"
        class="ikube.model.Context"
        property:name="sentiment-smo-de"
        property:analyzer-ref="sentiment-smo-de"
        property:filter-ref="string-to-word-vector-de"
        property:algorithm-ref="weka-classifier-smo-de"
        property:maxTraining="${max-training}"/>
    <!-- Swedish -->
    <bean id="sentiment-smo-sv" class="ikube.analytics.weka.WekaClassifier"/>
    <bean id="string-to-word-vector-sv" class="weka.filters.unsupervised.attribute.StringToWordVector"/>
    <bean id="weka-classifier-smo-sv" class="weka.classifiers.functions.SMO"/>
    <bean
        id="context-smo-sv"
        class="ikube.model.Context"
        property:name="sentiment-smo-sv"
        property:analyzer-ref="sentiment-smo-sv"
        property:filter-ref="string-to-word-vector-sv"
        property:algorithm-ref="weka-classifier-smo-sv"
        property:maxTraining="${max-training}"/>
    <!-- Thai -->
    <bean id="sentiment-smo-th" class="ikube.analytics.weka.WekaClassifier"/>
    <bean id="string-to-word-vector-th" class="weka.filters.unsupervised.attribute.StringToWordVector"/>
    <bean id="weka-classifier-smo-th" class="weka.classifiers.functions.SMO"/>
    <bean
        id="context-smo-th"
        class="ikube.model.Context"
        property:name="sentiment-smo-th"
        property:analyzer-ref="sentiment-smo-th"
        property:filter-ref="string-to-word-vector-th"
        property:algorithm-ref="weka-classifier-smo-th"
        property:maxTraining="${max-training}"/>
    <!-- Arabic -->
    <bean id="sentiment-smo-ar" class="ikube.analytics.weka.WekaClassifier"/>
    <bean id="string-to-word-vector-ar" class="weka.filters.unsupervised.attribute.StringToWordVector"/>
    <bean id="weka-classifier-smo-ar" class="weka.classifiers.functions.SMO"/>
    <bean
        id="context-smo-ar"
        class="ikube.model.Context"
        property:name="sentiment-smo-ar"
        property:analyzer-ref="sentiment-smo-ar"
        property:filter-ref="string-to-word-vector-ar"
        property:algorithm-ref="weka-classifier-smo-ar"
        property:maxTraining="${max-training}"/>
    <!-- Turkish -->
    <bean id="sentiment-smo-tr" class="ikube.analytics.weka.WekaClassifier"/>
    <bean id="string-to-word-vector-tr" class="weka.filters.unsupervised.attribute.StringToWordVector"/>
    <bean id="weka-classifier-smo-tr" class="weka.classifiers.functions.SMO"/>
    <bean
        id="context-smo-tr"
        class="ikube.model.Context"
        property:name="sentiment-smo-tr"
        property:analyzer-ref="sentiment-smo-tr"
        property:filter-ref="string-to-word-vector-tr"
        property:algorithm-ref="weka-classifier-smo-tr"
        property:maxTraining="${max-training}"/>
    <!-- Russian -->
    <bean id="sentiment-smo-ru" class="ikube.analytics.weka.WekaClassifier"/>
    <bean id="string-to-word-vector-ru" class="weka.filters.unsupervised.attribute.StringToWordVector"/>
    <bean id="weka-classifier-smo-ru" class="weka.classifiers.functions.SMO"/>
    <bean
        id="context-smo-ru"
        class="ikube.model.Context"
        property:name="sentiment-smo-ru"
        property:analyzer-ref="sentiment-smo-ru"
        property:filter-ref="string-to-word-vector-ru"
        property:algorithm-ref="weka-classifier-smo-ru"
        property:maxTraining="${max-training}"/>

    <bean
        id="ikube.action.index.handler.strategy.TwitterGeospatialEnrichmentStrategy"
        name="ikube.action.index.handler.strategy.TwitterGeospatialEnrichmentStrategy"
        class="ikube.action.index.handler.strategy.TwitterGeospatialEnrichmentStrategy"
        init-method="initialize"
        depends-on="ikube.toolkit.DataManager"
        lazy-init="true"/>

    <bean
        id="twitter-training-strategy-en"
        class="ikube.action.index.handler.strategy.ClassifierTrainingStrategy"
        property:context-ref="context-smo-en"
        property:language="English"
        init-method="initialize"/>
    <bean
        id="twitter-classification-strategy-en"
        class="ikube.action.index.handler.strategy.AnalysisStrategy"
        property:language="English"
        property:context-ref="context-smo-en"
        init-method="initialize"/>

    <bean
        id="twitter-training-strategy-es"
        class="ikube.action.index.handler.strategy.ClassifierTrainingStrategy"
        property:context-ref="context-smo-es"
        property:language="Spanish"
        init-method="initialize"/>
    <bean
        id="twitter-classification-strategy-es"
        class="ikube.action.index.handler.strategy.AnalysisStrategy"
        property:language="Spanish"
        property:context-ref="context-smo-es"
        init-method="initialize"/>

    <bean
        id="twitter-training-strategy-jp"
        class="ikube.action.index.handler.strategy.ClassifierTrainingStrategy"
        property:context-ref="context-smo-jp"
        property:language="Japanese"
        init-method="initialize"/>
    <bean
        id="twitter-classification-strategy-jp"
        class="ikube.action.index.handler.strategy.AnalysisStrategy"
        property:language="Japanese"
        property:context-ref="context-smo-jp"
        init-method="initialize"/>

    <bean
        id="twitter-training-strategy-cn"
        class="ikube.action.index.handler.strategy.ClassifierTrainingStrategy"
        property:context-ref="context-smo-cn"
        property:language="Chinese"
        init-method="initialize"/>
    <bean
        id="twitter-classification-strategy-cn"
        class="ikube.action.index.handler.strategy.AnalysisStrategy"
        property:language="Chinese"
        property:context-ref="context-smo-cn"
        init-method="initialize"/>

    <bean
        id="twitter-training-strategy-nl"
        class="ikube.action.index.handler.strategy.ClassifierTrainingStrategy"
        property:context-ref="context-smo-nl"
        property:language="Dutch"
        init-method="initialize"/>
    <bean
        id="twitter-classification-strategy-nl"
        class="ikube.action.index.handler.strategy.AnalysisStrategy"
        property:language="Dutch"
        property:context-ref="context-smo-nl"
        init-method="initialize"/>

    <bean
        id="twitter-training-strategy-fr"
        class="ikube.action.index.handler.strategy.ClassifierTrainingStrategy"
        property:context-ref="context-smo-fr"
        property:language="French"
        init-method="initialize"/>
    <bean
        id="twitter-classification-strategy-fr"
        class="ikube.action.index.handler.strategy.AnalysisStrategy"
        property:language="French"
        property:context-ref="context-smo-fr"
        init-method="initialize"/>

    <bean
        id="twitter-training-strategy-de"
        class="ikube.action.index.handler.strategy.ClassifierTrainingStrategy"
        property:context-ref="context-smo-de"
        property:language="German"
        init-method="initialize"/>
    <bean
        id="twitter-classification-strategy-de"
        class="ikube.action.index.handler.strategy.AnalysisStrategy"
        property:language="German"
        property:context-ref="context-smo-de"
        init-method="initialize"/>

    <bean
        id="twitter-training-strategy-sv"
        class="ikube.action.index.handler.strategy.ClassifierTrainingStrategy"
        property:context-ref="context-smo-sv"
        property:language="Swedish"
        init-method="initialize"/>
    <bean
        id="twitter-classification-strategy-sv"
        class="ikube.action.index.handler.strategy.AnalysisStrategy"
        property:language="Swedish"
        property:context-ref="context-smo-sv"
        init-method="initialize"/>

    <bean
        id="twitter-training-strategy-th"
        class="ikube.action.index.handler.strategy.ClassifierTrainingStrategy"
        property:context-ref="context-smo-th"
        property:language="Thai"
        init-method="initialize"/>
    <bean
        id="twitter-classification-strategy-th"
        class="ikube.action.index.handler.strategy.AnalysisStrategy"
        property:language="Thai"
        property:context-ref="context-smo-th"
        init-method="initialize"/>

    <bean
        id="twitter-training-strategy-ar"
        class="ikube.action.index.handler.strategy.ClassifierTrainingStrategy"
        property:context-ref="context-smo-ar"
        property:language="Arabic"
        init-method="initialize"/>
    <bean
        id="twitter-classification-strategy-ar"
        class="ikube.action.index.handler.strategy.AnalysisStrategy"
        property:language="Arabic"
        property:context-ref="context-smo-ar"
        init-method="initialize"/>

    <bean
        id="twitter-training-strategy-tr"
        class="ikube.action.index.handler.strategy.ClassifierTrainingStrategy"
        property:context-ref="context-smo-tr"
        property:language="Turkish"
        init-method="initialize"/>
    <bean
        id="twitter-classification-strategy-tr"
        class="ikube.action.index.handler.strategy.AnalysisStrategy"
        property:language="Turkish"
        property:context-ref="context-smo-tr"
        init-method="initialize"/>

    <bean
        id="twitter-training-strategy-ru"
        class="ikube.action.index.handler.strategy.ClassifierTrainingStrategy"
        property:context-ref="context-smo-ru"
        property:language="Russian"
        init-method="initialize"/>
    <bean
        id="twitter-classification-strategy-ru"
        class="ikube.action.index.handler.strategy.AnalysisStrategy"
        property:language="Russian"
        property:context-ref="context-smo-ru"
        init-method="initialize"/>

</beans>
