<?xml version="1.0" encoding="UTF-8"?>

<beans
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:property="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"

	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd">

	<description>
		This file is not to be modified by users generally. This is the configuration for the geospatial index which is an index 
		of the geonames table on the Ikube server. 
	</description>
	
	<bean
		id="geospatial"
		class="ikube.model.IndexContext"
		property:name="geospatial"
		property:maxAge="100"
		property:compoundFile="true"
		property:bufferedDocs="100"
		property:bufferSize="100"
		property:batchSize="100"
		property:internetBatchSize="100"
		property:mergeFactor="100"
		property:maxFieldLength="100"
		property:maxReadLength="100"
		property:address="true"
		property:throttle="0"
		property:indexDirectoryPath="/tmp"
		property:indexDirectoryPathBackup="/tmp"
		property:children-ref="geospatialIndexables" />
	<util:list id="geospatialIndexables">
		<ref local="geoname" />
	</util:list>
	
	<bean
		id="geoname"
		class="ikube.model.IndexableTable"
		property:name="geoname"
		property:address="true"
		property:maxExceptions="10"
		property:allColumns="true"
		property:stored="true"
		property:analyzed="true"
		property:vectored="true"
		property:children-ref="geonameColumnsDb2" />
	<util:list id="geonameColumnsDb2">
		<ref local="geospatialId" />
		<ref local="geospatialName" />
		<ref local="geospatialCity" />
		<ref local="geospatialCountry" />
		<ref local="geospatialAsciiname" />
		<ref local="geospatialAlternatenames" />
		<ref local="geospatialLatitude" />
		<ref local="geospatialLongitude" />
		<ref local="geospatialFeatureClass" />
		<ref local="geospatialFeatureCode" />
		<ref local="geospatialCountryCode" />
		<ref local="geospatialTimezone" />
		<ref local="geospatialCc2" />
		<ref local="geospatialGeonameid" />
		<ref local="geospatialAdmin1Code" />
		<ref local="geospatialAdmin2Code" />
		<ref local="geospatialAdmin3Code" />
		<ref local="geospatialAdmin4Code" />
		<ref local="geospatialModification" />
		<ref local="geospatialPopulation" />
		<ref local="geospatialElevation" />
		<ref local="geospatialGtopo30" />
		<ref local="alternatename" />
	</util:list>
	
	<bean
		id="geospatialId"
		class="ikube.model.IndexableColumn"
		property:name="id"
		property:idColumn="true"
		property:analyzed="true"
		property:stored="true"
		property:vectored="true" />
	<bean
		id="geospatialName"
		class="ikube.model.IndexableColumn"
		property:name="name"
		property:fieldName="name"
		property:address="true"
		property:analyzed="true"
		property:stored="true"
		property:vectored="true" />
	<bean
		id="geospatialGeonameid"
		class="ikube.model.IndexableColumn"
		property:name="geonameid"
		property:fieldName="geonameid"
		property:analyzed="true"
		property:stored="true"
		property:vectored="true"
		property:numeric="false" />
	<bean
		id="geospatialCity"
		class="ikube.model.IndexableColumn"
		property:name="city"
		property:fieldName="city"
		property:address="true"
		property:analyzed="true"
		property:stored="true"
		property:vectored="true" />
	<bean
		id="geospatialCountry"
		class="ikube.model.IndexableColumn"
		property:name="country"
		property:fieldName="country"
		property:address="true"
		property:analyzed="true"
		property:stored="true"
		property:vectored="true" />
	<bean
		id="geospatialAsciiname"
		class="ikube.model.IndexableColumn"
		property:name="asciiname"
		property:fieldName="asciiname"
		property:address="true"
		property:analyzed="true"
		property:stored="true"
		property:vectored="true" />
	<bean
		id="geospatialAlternatenames"
		class="ikube.model.IndexableColumn"
		property:name="alternatenames"
		property:fieldName="alternatenames"
		property:address="true"
		property:analyzed="true"
		property:stored="true"
		property:vectored="true" />
	<bean
		id="geospatialLatitude"
		class="ikube.model.IndexableColumn"
		property:name="latitude"
		property:fieldName="latitude"
		property:analyzed="true"
		property:stored="true"
		property:vectored="true"
		property:numeric="false" />
	<bean
		id="geospatialLongitude"
		class="ikube.model.IndexableColumn"
		property:name="longitude"
		property:fieldName="longitude"
		property:analyzed="true"
		property:stored="true"
		property:vectored="true"
		property:numeric="false" />
	<bean
		id="geospatialFeatureClass"
		class="ikube.model.IndexableColumn"
		property:name="featureclass"
		property:fieldName="featureclass"
		property:analyzed="true"
		property:stored="true"
		property:vectored="true" />
	<bean
		id="geospatialFeatureCode"
		class="ikube.model.IndexableColumn"
		property:name="featurecode"
		property:fieldName="featurecode"
		property:analyzed="true"
		property:stored="true"
		property:vectored="true" />
	<bean
		id="geospatialCountryCode"
		class="ikube.model.IndexableColumn"
		property:name="countrycode"
		property:fieldName="countrycode"
		property:analyzed="true"
		property:stored="true"
		property:vectored="true" />
	<bean
		id="geospatialCc2"
		class="ikube.model.IndexableColumn"
		property:name="cc2"
		property:fieldName="cc2"
		property:analyzed="true"
		property:stored="true"
		property:vectored="true" />
	<bean
		id="geospatialAdmin1Code"
		class="ikube.model.IndexableColumn"
		property:name="admin1code"
		property:fieldName="admin1code"
		property:analyzed="true"
		property:stored="true"
		property:vectored="true" />
	<bean
		id="geospatialAdmin2Code"
		class="ikube.model.IndexableColumn"
		property:name="admin2code"
		property:fieldName="admin2code"
		property:analyzed="true"
		property:stored="true"
		property:vectored="true" />
	<bean
		id="geospatialAdmin3Code"
		class="ikube.model.IndexableColumn"
		property:name="admin3code"
		property:fieldName="admin3code"
		property:analyzed="true"
		property:stored="true"
		property:vectored="true" />
	<bean
		id="geospatialAdmin4Code"
		class="ikube.model.IndexableColumn"
		property:name="admin4code"
		property:fieldName="admin4code"
		property:analyzed="true"
		property:stored="true"
		property:vectored="true" />
	<bean
		id="geospatialPopulation"
		class="ikube.model.IndexableColumn"
		property:name="population"
		property:fieldName="population"
		property:analyzed="true"
		property:stored="true"
		property:vectored="true"
		property:numeric="false" />
	<bean
		id="geospatialElevation"
		class="ikube.model.IndexableColumn"
		property:name="elevation"
		property:fieldName="elevation"
		property:analyzed="true"
		property:stored="true"
		property:vectored="true"
		property:numeric="false" />
	<bean
		id="geospatialGtopo30"
		class="ikube.model.IndexableColumn"
		property:name="gtopo30"
		property:fieldName="gtopo30"
		property:analyzed="true"
		property:stored="true"
		property:vectored="true" />
	<bean
		id="geospatialTimezone"
		class="ikube.model.IndexableColumn"
		property:name="timezone"
		property:fieldName="timezone"
		property:analyzed="true"
		property:stored="true"
		property:vectored="true" />
	<bean
		id="geospatialModification"
		class="ikube.model.IndexableColumn"
		property:name="modification"
		property:fieldName="modification"
		property:analyzed="true"
		property:stored="true"
		property:vectored="true" />
	
	<!-- property:dataSource-ref="nonXaDataSourceDb2" -->
	<bean
		id="alternatename"
		class="ikube.model.IndexableTable"
		property:name="alternatename"
		property:address="false"
		property:children-ref="alternatenameColumnsDb2" 
		property:maxExceptions="10"
		property:allColumns="true" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<util:list id="alternatenameColumnsDb2">
		<ref local="alternatenameId" />
		<ref local="alternatenameGeonameid" />
		<ref local="alternatenameAlternatename" />
	</util:list>
	
	<bean
		id="alternatenameId"
		class="ikube.model.IndexableColumn"
		property:name="id"
		property:idColumn="true"
		property:analyzed="true"
		property:stored="true"
		property:vectored="true"
		property:numeric="false" />
	<bean
		id="alternatenameGeonameid"
		class="ikube.model.IndexableColumn"
		property:name="geonameid"
		property:fieldName="alternatenamegeonameid"
		property:analyzed="true"
		property:stored="true"
		property:vectored="true"
		property:numeric="false" />
	<bean
		id="alternatenameAlternatename"
		class="ikube.model.IndexableColumn"
		property:name="alternatename"
		property:fieldName="alternatename"
		property:analyzed="true"
		property:stored="true"
		property:vectored="true"
		property:numeric="false" />
		
	<bean 
		id="mysql" 
		class="ikube.model.IndexContext" 
		property:name="mysql" 
		property:maxAge="600" 
		property:compoundFile="true"
		property:bufferedDocs="1000" 
		property:bufferSize="256" 
		property:batchSize="100" 
		property:internetBatchSize="1000" 
		property:mergeFactor="1000"
		property:maxFieldLength="10000" 
		property:maxReadLength="10000" 
		property:address="false" 
		property:throttle="0"
		property:indexDirectoryPath="/tmp" 
		property:indexDirectoryPathBackup="/tmp"
		property:children-ref="mysql-indexables" />
	<util:list id="mysql-indexables">
		<ref local="json_cache" />
	</util:list>

	<bean
		id="json_cache"
		class="ikube.model.IndexableTable"
		property:name="json_cache"
		property:address="false"
		property:maxExceptions="1000"
		property:allColumns="true"
		property:stored="false"
		property:analyzed="false"
		property:vectored="false"
		property:children-ref="json_cache_columns"
		property:dataSource-ref="non-xa-datasource-mysql"/>
	<util:list id="json_cache_columns">
		<!-- Columns for cache table -->
		<ref local="cache_id" />
		<ref local="cache_tweet_id" />
		<!-- Referencing tables to cache -->
		<ref local="tweet_tags" />
		<ref local="tweet_urls" />
		<ref local="tweets" />
		<ref local="users" />
	</util:list>
	<bean
		id="cache_id"
		class="ikube.model.IndexableColumn"
		property:name="cache_id"
		property:idColumn="true"
		property:analyzed="false"
		property:stored="false"
		property:vectored="false" />
	<bean
		id="cache_tweet_id"
		class="ikube.model.IndexableColumn"
		property:name="tweet_id"
		property:idColumn="false"
		property:analyzed="false"
		property:stored="false"
		property:vectored="false" />
	
	<bean
		id="tweet_tags"
		class="ikube.model.IndexableTable"
		property:name="tweet_tags"
		property:address="false"
		property:children-ref="tweet_tags_columns" 
		property:maxExceptions="10"
		property:allColumns="true" 
		property:stored="false"
		property:analyzed="false"
		property:vectored="false" />
	<util:list id="tweet_tags_columns">
		<ref local="tweet_tags_id" />
	</util:list>
	<bean
		id="tweet_tags_id"
		class="ikube.model.IndexableColumn"
		property:name="tweet_id"
		property:fieldName="tweet_id"
		property:analyzed="false"
		property:stored="false"
		property:vectored="false"
		property:numeric="false"
		property:foreignKey-ref="cache_tweet_id" />
		
	<bean
		id="tweet_urls"
		class="ikube.model.IndexableTable"
		property:name="tweet_urls"
		property:address="false"
		property:children-ref="tweet_urls_columns" 
		property:maxExceptions="10"
		property:allColumns="true" 
		property:stored="false"
		property:analyzed="false"
		property:vectored="false" />
	<util:list id="tweet_urls_columns">
		<ref local="tweet_urls_id" />
	</util:list>
	<bean
		id="tweet_urls_id"
		class="ikube.model.IndexableColumn"
		property:name="tweet_id"
		property:fieldName="tweet_id"
		property:analyzed="false"
		property:stored="false"
		property:vectored="false"
		property:numeric="false"
		property:foreignKey-ref="cache_tweet_id" />
	
	<bean
		id="tweets"
		class="ikube.model.IndexableTable"
		property:name="tweets"
		property:address="false"
		property:children-ref="tweets_columns" 
		property:maxExceptions="10"
		property:allColumns="true" 
		property:stored="false"
		property:analyzed="false"
		property:vectored="false" />
	<util:list id="tweets_columns">
		<ref local="tweets_id" />
		<ref local="tweets_user_id" />
	</util:list>
	<bean
		id="tweets_id"
		class="ikube.model.IndexableColumn"
		property:name="tweet_id"
		property:fieldName="tweet_id"
		property:analyzed="false"
		property:stored="false"
		property:vectored="false"
		property:numeric="false"
		property:foreignKey-ref="cache_tweet_id" />
	<bean
		id="tweets_user_id"
		class="ikube.model.IndexableColumn"
		property:name="user_id"
		property:fieldName="user_id"
		property:analyzed="false"
		property:stored="false"
		property:vectored="false"
		property:numeric="false" />
	
	<bean
		id="users"
		class="ikube.model.IndexableTable"
		property:name="users"
		property:address="false"
		property:children-ref="users_columns" 
		property:maxExceptions="10"
		property:allColumns="true" 
		property:stored="false"
		property:analyzed="false"
		property:vectored="false" />
	<util:list id="users_columns">
		<ref local="user_id" />
	</util:list>
	<bean
		id="user_id"
		class="ikube.model.IndexableColumn"
		property:name="user_id"
		property:fieldName="user_id"
		property:analyzed="false"
		property:stored="false"
		property:vectored="false"
		property:numeric="false"
		property:foreignKey-ref="tweets_user_id" />
			
	<bean 
		id="non-xa-datasource-mysql" 
		class="com.mchange.v2.c3p0.ComboPooledDataSource" 
		destroy-method="close" />
		
	<bean 
		id="indexContextTable" 
		class="ikube.model.IndexableTable" 
		property:name="indexContext" 
		property:allColumns="true" 
		property:maxExceptions="100" 
		property:stored="true" 
		property:analyzed="true"
		property:vectored="true"
		property:children-ref="indexContextColumns" />
	<util:list id="indexContextColumns">
		<ref local="indexContextId" />
		<ref local="snapshotTable" />
	</util:list>
	<bean
		id="indexContextId"
		class="ikube.model.IndexableColumn"
		property:name="id"
		property:idColumn="true"
		property:analyzed="true"
		property:stored="true"
		property:vectored="true" />
	
	<bean 
		id="snapshotTable" 
		class="ikube.model.IndexableTable" 
		property:name="snapshot" 
		property:allColumns="true" 
		property:maxExceptions="100" 
		property:stored="true" 
		property:analyzed="true"
		property:vectored="true"
		property:children-ref="snapshotColumns" />
	<util:list id="snapshotColumns">
		<ref local="snapshotId" />
		<ref local="snapshotNumDocsForIndexWriters" />
	</util:list>
	<bean
		id="snapshotId"
		class="ikube.model.IndexableColumn"
		property:name="id"
		property:idColumn="true"
		property:analyzed="false"
		property:stored="false"
		property:vectored="false"
		property:foreignKey-ref="indexContextId" />
	<bean
		id="snapshotNumDocsForIndexWriters"
		class="ikube.model.IndexableColumn"
		property:name="numDocsForIndexWriters"
		property:fieldName="numDocsForIndexWriters"
		property:address="true"
		property:analyzed="true"
		property:stored="true"
		property:vectored="true" />
	
</beans>