<?xml version="1.0" encoding="UTF-8"?>

<beans
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.springframework.org/schema/beans"
    xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <description>This configuration is for beans that are used in applications.</description>

    <!--<bean-->
        <!--id="ikube.application.GCAnalyzer"-->
        <!--class="ikube.application.GCAnalyzer"/>-->

</beans>
