<?xml version="1.0" encoding="UTF-8"?>

<beans
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:property="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"

	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd">

	<bean
		id="wikiHistoryArabic"
		class="ikube.model.IndexContext"
		property:name="wikiHistoryArabic"
		property:maxAge="${wiki.index.age}"
		property:compoundFile="${history.compound.file}"
		property:bufferedDocs="${history.buffered.docs}"
		property:bufferSize="${history.buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${history.merge.factor}"
		property:maxFieldLength="${history.max.field.length}"
		property:maxReadLength="${history.max.read.length}"
		property:throttle="0"
		property:indexDirectoryPath="/media/nas/xfs-one/languages/arwiki/index"
		property:indexDirectoryPathBackup="/media/nas/xfs-one/languages/arwiki/index"
		property:children-ref="wikiHistoryIndexablesArabic" />
	<util:list id="wikiHistoryIndexablesArabic">
		<ref local="wikiHistoryDataArabic" />
	</util:list>
	<bean
		id="wikiHistoryDataArabic"
		class="ikube.model.IndexableFileSystemWiki"
		property:name="wikiHistoryDataArabic"
		property:path="/media/nas/xfs-one/languages/arwiki"
		property:pathFieldName="path"
		property:nameFieldName="name"
		property:lengthFieldName="length"
		property:contentFieldName="contents"
		property:lastModifiedFieldName="lastmodified"
		property:stored="${wiki.history.languages.stored}"
		property:analyzed="${wiki.history.languages.analyzed}"
		property:vectored="${wiki.history.languages.vectored}"
		property:unpackZips="${wiki.history.languages.unpack.zips}"
		property:excludedPattern="${files.excluded.pattern}"
		property:batchSize="${file.batch.size}"
		property:maxReadLength="${file.max.read.length}"
		property:maxRevisions="${max.revisions}" />
	
	<bean
		id="wikiHistoryDutch"
		class="ikube.model.IndexContext"
		property:name="wikiHistoryDutch"
		property:maxAge="${wiki.index.age}"
		property:compoundFile="${history.compound.file}"
		property:bufferedDocs="${history.buffered.docs}"
		property:bufferSize="${history.buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${history.merge.factor}"
		property:maxFieldLength="${history.max.field.length}"
		property:maxReadLength="${history.max.read.length}"
		property:throttle="0"
		property:indexDirectoryPath="/media/nas/xfs-one/languages/nlwiki/index"
		property:indexDirectoryPathBackup="/media/nas/xfs-one/languages/nlwiki/index"
		property:children-ref="wikiHistoryIndexablesDutch" />
	<util:list id="wikiHistoryIndexablesDutch">
		<ref local="wikiHistoryDataDutch" />
	</util:list>
	<bean
		id="wikiHistoryDataDutch"
		class="ikube.model.IndexableFileSystemWiki"
		property:name="wikiHistoryDataDutch"
		property:path="/media/nas/xfs-one/languages/nlwiki"
		property:pathFieldName="path"
		property:nameFieldName="name"
		property:lengthFieldName="length"
		property:contentFieldName="contents"
		property:lastModifiedFieldName="lastmodified"
		property:stored="${wiki.history.languages.stored}"
		property:analyzed="${wiki.history.languages.analyzed}"
		property:vectored="${wiki.history.languages.vectored}"
		property:unpackZips="${wiki.history.languages.unpack.zips}"
		property:excludedPattern="${files.excluded.pattern}"
		property:batchSize="${file.batch.size}"
		property:maxReadLength="${file.max.read.length}"
		property:maxRevisions="${max.revisions}" />

	<bean
		id="wikiHistoryFrench"
		class="ikube.model.IndexContext"
		property:name="wikiHistoryFrench"
		property:maxAge="${wiki.index.age}"
		property:compoundFile="${history.compound.file}"
		property:bufferedDocs="${history.buffered.docs}"
		property:bufferSize="${history.buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${history.merge.factor}"
		property:maxFieldLength="${history.max.field.length}"
		property:maxReadLength="${history.max.read.length}"
		property:throttle="0"
		property:indexDirectoryPath="/media/nas/xfs-two/languages/frwiki/index"
		property:indexDirectoryPathBackup="/media/nas/xfs-two/languages/frwiki/index"
		property:children-ref="wikiHistoryIndexablesFrench" />
	<util:list id="wikiHistoryIndexablesFrench">
		<ref local="wikiHistoryDataFrench" />
	</util:list>
	<bean
		id="wikiHistoryDataFrench"
		class="ikube.model.IndexableFileSystemWiki"
		property:name="wikiHistoryDataFrench"
		property:path="/media/nas/xfs-two/languages/frwiki"
		property:pathFieldName="path"
		property:nameFieldName="name"
		property:lengthFieldName="length"
		property:contentFieldName="contents"
		property:lastModifiedFieldName="lastmodified"
		property:stored="${wiki.history.languages.stored}"
		property:analyzed="${wiki.history.languages.analyzed}"
		property:vectored="${wiki.history.languages.vectored}"
		property:unpackZips="${wiki.history.languages.unpack.zips}"
		property:excludedPattern="${files.excluded.pattern}"
		property:batchSize="${file.batch.size}"
		property:maxReadLength="${file.max.read.length}"
		property:maxRevisions="${max.revisions}" />

	<bean
		id="wikiHistoryGerman"
		class="ikube.model.IndexContext"
		property:name="wikiHistoryGerman"
		property:maxAge="${wiki.index.age}"
		property:compoundFile="${history.compound.file}"
		property:bufferedDocs="${history.buffered.docs}"
		property:bufferSize="${history.buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${history.merge.factor}"
		property:maxFieldLength="${history.max.field.length}"
		property:maxReadLength="${history.max.read.length}"
		property:throttle="0"
		property:indexDirectoryPath="/media/nas/xfs-two/languages/dewiki/index"
		property:indexDirectoryPathBackup="/media/nas/xfs-two/languages/dewiki/index"
		property:children-ref="wikiHistoryIndexablesGerman" />
	<util:list id="wikiHistoryIndexablesGerman">
		<ref local="wikiHistoryDataGerman" />
	</util:list>
	<bean
		id="wikiHistoryDataGerman"
		class="ikube.model.IndexableFileSystemWiki"
		property:name="wikiHistoryDataGerman"
		property:path="/media/nas/xfs-two/languages/dewiki"
		property:pathFieldName="path"
		property:nameFieldName="name"
		property:lengthFieldName="length"
		property:contentFieldName="contents"
		property:lastModifiedFieldName="lastmodified"
		property:stored="${wiki.history.languages.stored}"
		property:analyzed="${wiki.history.languages.analyzed}"
		property:vectored="${wiki.history.languages.vectored}"
		property:unpackZips="${wiki.history.languages.unpack.zips}"
		property:excludedPattern="${files.excluded.pattern}"
		property:batchSize="${file.batch.size}"
		property:maxReadLength="${file.max.read.length}"
		property:maxRevisions="${max.revisions}" />

	<bean
		id="wikiHistoryPolish"
		class="ikube.model.IndexContext"
		property:name="wikiHistoryPolish"
		property:maxAge="${wiki.index.age}"
		property:compoundFile="${history.compound.file}"
		property:bufferedDocs="${history.buffered.docs}"
		property:bufferSize="${history.buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${history.merge.factor}"
		property:maxFieldLength="${history.max.field.length}"
		property:maxReadLength="${history.max.read.length}"
		property:throttle="0"
		property:indexDirectoryPath="/media/nas/xfs-three/languages/plwiki/index"
		property:indexDirectoryPathBackup="/media/nas/xfs-three/languages/plwiki/index"
		property:children-ref="wikiHistoryIndexablesPolish" />
	<util:list id="wikiHistoryIndexablesPolish">
		<ref local="wikiHistoryDataPolish" />
	</util:list>
	<bean
		id="wikiHistoryDataPolish"
		class="ikube.model.IndexableFileSystemWiki"
		property:name="wikiHistoryDataPolish"
		property:path="/media/nas/xfs-three/languages/plwiki"
		property:pathFieldName="path"
		property:nameFieldName="name"
		property:lengthFieldName="length"
		property:contentFieldName="contents"
		property:lastModifiedFieldName="lastmodified"
		property:stored="${wiki.history.languages.stored}"
		property:analyzed="${wiki.history.languages.analyzed}"
		property:vectored="${wiki.history.languages.vectored}"
		property:unpackZips="${wiki.history.languages.unpack.zips}"
		property:excludedPattern="${files.excluded.pattern}"
		property:batchSize="${file.batch.size}"
		property:maxReadLength="${file.max.read.length}"
		property:maxRevisions="${max.revisions}" />
		
	<bean
		id="wikiHistoryPortuguese"
		class="ikube.model.IndexContext"
		property:name="wikiHistoryPortuguese"
		property:maxAge="${wiki.index.age}"
		property:compoundFile="${history.compound.file}"
		property:bufferedDocs="${history.buffered.docs}"
		property:bufferSize="${history.buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${history.merge.factor}"
		property:maxFieldLength="${history.max.field.length}"
		property:maxReadLength="${history.max.read.length}"
		property:throttle="0"
		property:indexDirectoryPath="/media/nas/xfs-three/languages/ptwiki/index"
		property:indexDirectoryPathBackup="/media/nas/xfs-three/languages/ptwiki/index"
		property:children-ref="wikiHistoryIndexablesPortuguese" />
	<util:list id="wikiHistoryIndexablesPortuguese">
		<ref local="wikiHistoryDataPortuguese" />
	</util:list>
	<bean
		id="wikiHistoryDataPortuguese"
		class="ikube.model.IndexableFileSystemWiki"
		property:name="wikiHistoryDataPortuguese"
		property:path="/media/nas/xfs-three/languages/ptwiki"
		property:pathFieldName="path"
		property:nameFieldName="name"
		property:lengthFieldName="length"
		property:contentFieldName="contents"
		property:lastModifiedFieldName="lastmodified"
		property:stored="${wiki.history.languages.stored}"
		property:analyzed="${wiki.history.languages.analyzed}"
		property:vectored="${wiki.history.languages.vectored}"
		property:unpackZips="${wiki.history.languages.unpack.zips}"
		property:excludedPattern="${files.excluded.pattern}"
		property:batchSize="${file.batch.size}"
		property:maxReadLength="${file.max.read.length}"
		property:maxRevisions="${max.revisions}" />
		
	<bean
		id="wikiHistoryRussian"
		class="ikube.model.IndexContext"
		property:name="wikiHistoryRussian"
		property:maxAge="${wiki.index.age}"
		property:compoundFile="${history.compound.file}"
		property:bufferedDocs="${history.buffered.docs}"
		property:bufferSize="${history.buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${history.merge.factor}"
		property:maxFieldLength="${history.max.field.length}"
		property:maxReadLength="${history.max.read.length}"
		property:throttle="0"
		property:indexDirectoryPath="/media/nas/xfs-four/languages/ruwiki/index"
		property:indexDirectoryPathBackup="/media/nas/xfs-four/languages/ruwiki/index"
		property:children-ref="wikiHistoryIndexablesRussian" />
	<util:list id="wikiHistoryIndexablesRussian">
		<ref local="wikiHistoryDataRussian" />
	</util:list>
	<bean
		id="wikiHistoryDataRussian"
		class="ikube.model.IndexableFileSystemWiki"
		property:name="wikiHistoryDataRussian"
		property:path="/media/nas/xfs-four/languages/ruwiki"
		property:pathFieldName="path"
		property:nameFieldName="name"
		property:lengthFieldName="length"
		property:contentFieldName="contents"
		property:lastModifiedFieldName="lastmodified"
		property:stored="${wiki.history.languages.stored}"
		property:analyzed="${wiki.history.languages.analyzed}"
		property:vectored="${wiki.history.languages.vectored}"
		property:unpackZips="${wiki.history.languages.unpack.zips}"
		property:excludedPattern="${files.excluded.pattern}"
		property:batchSize="${file.batch.size}"
		property:maxReadLength="${file.max.read.length}"
		property:maxRevisions="${max.revisions}" />
	
	<bean
		id="wikiHistoryItalian"
		class="ikube.model.IndexContext"
		property:name="wikiHistoryItalian"
		property:maxAge="${wiki.index.age}"
		property:compoundFile="${history.compound.file}"
		property:bufferedDocs="${history.buffered.docs}"
		property:bufferSize="${history.buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${history.merge.factor}"
		property:maxFieldLength="${history.max.field.length}"
		property:maxReadLength="${history.max.read.length}"
		property:throttle="0"
		property:indexDirectoryPath="/media/nas/xfs-four/languages/itwiki/index"
		property:indexDirectoryPathBackup="/media/nas/xfs-four/languages/itwiki/index"
		property:children-ref="wikiHistoryIndexablesItalian" />
	<util:list id="wikiHistoryIndexablesItalian">
		<ref local="wikiHistoryDataItalian" />
	</util:list>
	<bean
		id="wikiHistoryDataItalian"
		class="ikube.model.IndexableFileSystemWiki"
		property:name="wikiHistoryDataItalian"
		property:path="/media/nas/xfs-four/languages/itwiki"
		property:pathFieldName="path"
		property:nameFieldName="name"
		property:lengthFieldName="length"
		property:contentFieldName="contents"
		property:lastModifiedFieldName="lastmodified"
		property:stored="${wiki.history.languages.stored}"
		property:analyzed="${wiki.history.languages.analyzed}"
		property:vectored="${wiki.history.languages.vectored}"
		property:unpackZips="${wiki.history.languages.unpack.zips}"
		property:excludedPattern="${files.excluded.pattern}"
		property:batchSize="${file.batch.size}"
		property:maxReadLength="${file.max.read.length}"
		property:maxRevisions="${max.revisions}" />
	
	<bean
		id="wikiHistorySpanish"
		class="ikube.model.IndexContext"
		property:name="wikiHistorySpanish"
		property:maxAge="${wiki.index.age}"
		property:compoundFile="${history.compound.file}"
		property:bufferedDocs="${history.buffered.docs}"
		property:bufferSize="${history.buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${history.merge.factor}"
		property:maxFieldLength="${history.max.field.length}"
		property:maxReadLength="${history.max.read.length}"
		property:throttle="0"
		property:indexDirectoryPath="/media/nas/xfs-five/languages/eswiki/index"
		property:indexDirectoryPathBackup="/media/nas/xfs-five/languages/eswiki/index"
		property:children-ref="wikiHistoryIndexablesSpanish" />
	<util:list id="wikiHistoryIndexablesSpanish">
		<ref local="wikiHistoryDataSpanish" />
	</util:list>
	<bean
		id="wikiHistoryDataSpanish"
		class="ikube.model.IndexableFileSystemWiki"
		property:name="wikiHistoryDataSpanish"
		property:path="/media/nas/xfs-five/languages/eswiki"
		property:pathFieldName="path"
		property:nameFieldName="name"
		property:lengthFieldName="length"
		property:contentFieldName="contents"
		property:lastModifiedFieldName="lastmodified"
		property:stored="${wiki.history.languages.stored}"
		property:analyzed="${wiki.history.languages.analyzed}"
		property:vectored="${wiki.history.languages.vectored}"
		property:unpackZips="${wiki.history.languages.unpack.zips}"
		property:excludedPattern="${files.excluded.pattern}"
		property:batchSize="${file.batch.size}"
		property:maxReadLength="${file.max.read.length}"
		property:maxRevisions="${max.revisions}" />

</beans>