<?xml version="1.0" encoding="UTF-8"?>

<beans
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:property="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"

	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd">

	<bean
		id="wikiContext"
		class="ikube.model.IndexContext"
		property:name="wikiContext"
		property:maxAge="${wiki.index.age}"
		property:compoundFile="${compound.file}"
		property:bufferedDocs="${buffered.docs}"
		property:bufferSize="${buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${merge.factor}"
		property:maxFieldLength="${max.field.length}"
		property:maxReadLength="${max.read.length}"
		property:throttle="${throttle}"
		property:indexDirectoryPath="/media/nas/xfs-one/data/index"
		property:indexDirectoryPathBackup="/media/nas/xfs-one/data/index"
		property:delta="false"
		property:children-ref="wikiIndexables" />
	<util:list id="wikiIndexables">
		<ref local="wikidata" />
	</util:list>
	
	<bean
		id="wikidata"
		class="ikube.model.IndexableFileSystem"
		property:name="wikidata"
		property:path="/media/nas/xfs-one/data"
		property:pathFieldName="path"
		property:nameFieldName="name"
		property:lengthFieldName="length"
		property:contentFieldName="contents"
		property:unpackZips="false"
		property:stored="true"
		property:analyzed="true"
		property:vectored="true"
		property:excludedPattern="${files.excluded.pattern}"
		property:lastModifiedFieldName="lastmodified"
		property:batchSize="${file.batch.size}"
		property:maxReadLength="${file.max.read.length}" 
		property:maxExceptions="${max.exceptions}"
		property:strategies-ref="wikidataStrategies" />
	
	<util:list id="wikidataStrategies">
		<bean class="ikube.index.handler.strategy.DeltaIndexableFilesystemStrategy" />
	</util:list>
	
</beans>