<?xml version="1.0" encoding="UTF-8"?>

<beans
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:property="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"

    xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd">

	<bean
		id="sites-context"
		class="ikube.model.IndexContext"
		property:name="sites-context"
		property:maxAge="60"
		property:compoundFile="${compound.file}"
		property:bufferedDocs="${buffered.docs}"
		property:bufferSize="${buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${merge.factor}"
		property:maxFieldLength="${max.field.length}"
		property:maxReadLength="${max.read.length}"
		property:throttle="0"
		property:indexDirectoryPath="${index.directory.path}"
		property:indexDirectoryPathBackup="${index.directory.path}"
		property:analyzer-ref="ikube.action.index.analyzer.NgramAnalyzer"
		property:children-ref="sites-indexables" />
	<util:list id="sites-indexables">
		<!--<ref local="ibm" />
		<ref local="oki" />-->
		<ref local="eacbs" />
	</util:list>
	
	<bean
		id="ibm"
		class="ikube.model.IndexableInternet"
		property:name="ibm"
		property:url="http://www.ibm.com" 
		property:idFieldName="id"
		property:titleFieldName="title"
		property:contentFieldName="contents"
		property:analyzed="true"
		property:stored="false"
		property:vectored="true"
		property:internetBatchSize="1000"
		property:excludedPattern="${internet.excluded.pattern}"
		property:strategies-ref="sites-strategies" />
		
	<bean
		id="oki"
		class="ikube.model.IndexableInternet"
		property:name="oki"
		property:url="http://belgium.oki.com/" 
		property:idFieldName="id"
		property:titleFieldName="title"
		property:contentFieldName="content"
		property:analyzed="true"
		property:stored="true"
		property:vectored="true"
		property:internetBatchSize="1000"
		property:excludedPattern="${internet.excluded.pattern}"
		property:strategies-ref="sites-strategies" />

    <bean
        id="eacbs"
        class="ikube.model.IndexableInternet"
        property:name="eacbs"
        property:url="http://www.eacbs.com/"
        property:idFieldName="id"
        property:titleFieldName="title"
        property:contentFieldName="content"
        property:analyzed="true"
        property:stored="true"
        property:vectored="true"
        property:internetBatchSize="1000"
        property:threads="50"
        property:excludedPattern="${internet.excluded.pattern}" />
	
	<util:list id="sites-strategies">
	    <ref bean="ikube.action.index.handler.strategy.LanguageDetectionStrategy" />
	</util:list>
	
</beans>