<?xml version="1.0" encoding="UTF-8"?>

<beans
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:property="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"

	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd">

	<bean
		id="filesystemIndexLogs"
		class="ikube.model.IndexContext"
		property:name="filesystemIndexLogs"
		property:maxAge="60"
		property:compoundFile="${compound.file}"
		property:bufferedDocs="${buffered.docs}"
		property:bufferSize="${buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${merge.factor}"
		property:maxFieldLength="${max.field.length}"
		property:maxReadLength="${max.read.length}"
		property:throttle="${throttle}"
		property:indexDirectoryPath="${index.directory.path}"
		property:indexDirectoryPathBackup="${index.directory.path.backup}"
		property:children-ref="filesystemIndexablesLogs" />
	<util:list id="filesystemIndexablesLogs">
		<ref local="filesystemIndexableLogs" />
	</util:list>
	
	<bean
		id="filesystemIndexableLogs"
		class="ikube.model.IndexableFileSystemLog"
		property:name="filesystemIndexableLogs"
		property:path="/mnt/shared_storage/post/sum-st/nearline-logs"
		property:fileFieldName="fileName"
		property:pathFieldName="filePath"
		property:lineFieldName="lineNumber"
		property:contentFieldName="lineContents"
		property:stored="true"
		property:vectored="true"
		property:analyzed="true" />
	
</beans>