<?xml version="1.0" encoding="UTF-8"?>

<beans
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:property="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"

	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd">

	<bean
		id="wikiContext"
		class="ikube.model.IndexContext"
		property:name="wikiContext"
		property:maxAge="${wiki.index.age}"
		property:compoundFile="${compound.file}"
		property:bufferedDocs="${buffered.docs}"
		property:bufferSize="${buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${merge.factor}"
		property:maxFieldLength="${max.field.length}"
		property:maxReadLength="${max.read.length}"
		property:throttle="${throttle}"
		property:indexDirectoryPath="${index.root}/nas-one/data/index"
		property:indexDirectoryPathBackup="${index.root}/nas-one/data/index"
		property:delta="false"
		property:children-ref="wikiIndexables" />
	<util:list id="wikiIndexables">
		<ref local="wikidata" />
	</util:list>
	
	<bean
		id="wikidata"
		class="ikube.model.IndexableFileSystem"
		property:name="wikidata"
		property:path="${index.root}/nas-one/data"
		property:pathFieldName="path"
		property:nameFieldName="name"
		property:lengthFieldName="length"
		property:contentFieldName="contents"
		property:unpackZips="false"
		property:stored="true"
		property:analyzed="true"
		property:vectored="true"
		property:excludedPattern="${files.excluded.pattern}"
		property:lastModifiedFieldName="lastmodified"
		property:batchSize="${file.batch.size}"
		property:maxReadLength="${file.max.read.length}" 
		property:maxExceptions="${max.exceptions}" />
		
	<bean
		id="wikiHistoryOne"
		class="ikube.model.IndexContext"
		property:name="wikiHistoryOne"
		property:maxAge="${wiki.index.age}"
		property:compoundFile="${wiki.history.compound.file}"
		property:bufferedDocs="${buffered.docs}"
		property:bufferSize="${buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${merge.factor}"
		property:maxFieldLength="${max.field.length}"
		property:maxReadLength="${max.read.length}"
		property:throttle="${wiki.history.throttle}"
		property:indexDirectoryPath="${index.root}/nas-one/history/index"
		property:indexDirectoryPathBackup="${index.root}/nas-one/history/index"
		property:children-ref="wikiHistoryIndexablesOne" />
	<util:list id="wikiHistoryIndexablesOne">
		<ref local="wikiHistoryDataOne" />
	</util:list>
	<bean
		id="wikiHistoryDataOne"
		class="ikube.model.IndexableFileSystemWiki"
		property:name="wikiHistoryDataOne"
		property:path="${index.root}/nas-one/history"
		property:pathFieldName="path"
		property:nameFieldName="name"
		property:lengthFieldName="length"
		property:contentFieldName="contents"
		property:lastModifiedFieldName="lastmodified"
		property:stored="${wiki.history.stored}"
		property:analyzed="${wiki.history.analyzed}"
		property:vectored="${wiki.history.vectored}"
		property:unpackZips="${wiki.history.unpack.zips}"
		property:excludedPattern="${files.excluded.pattern}"
		property:batchSize="${file.batch.size}"
		property:maxReadLength="${file.max.read.length}" 
		property:maxRevisions="${max.revisions}"
		property:maxExceptions="${max.exceptions}" />
	
	<bean
		id="wikiHistoryTwo"
		class="ikube.model.IndexContext"
		property:name="wikiHistoryTwo"
		property:maxAge="${wiki.index.age}"
		property:compoundFile="${wiki.history.compound.file}"
		property:bufferedDocs="${buffered.docs}"
		property:bufferSize="${buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${merge.factor}"
		property:maxFieldLength="${max.field.length}"
		property:maxReadLength="${max.read.length}"
		property:throttle="${wiki.history.throttle}"
		property:indexDirectoryPath="${index.root}/nas-two/history/index"
		property:indexDirectoryPathBackup="${index.root}/nas-two/history/index"
		property:children-ref="wikiHistoryIndexablesTwo" />
	<util:list id="wikiHistoryIndexablesTwo">
		<ref local="wikiHistoryDataTwo" />
	</util:list>
	<bean
		id="wikiHistoryDataTwo"
		class="ikube.model.IndexableFileSystemWiki"
		property:name="wikiHistoryDataTwo"
		property:path="${index.root}/nas-two/history"
		property:pathFieldName="path"
		property:nameFieldName="name"
		property:lengthFieldName="length"
		property:contentFieldName="contents"
		property:lastModifiedFieldName="lastmodified"
		property:stored="${wiki.history.stored}"
		property:analyzed="${wiki.history.analyzed}"
		property:vectored="${wiki.history.vectored}"
		property:unpackZips="${wiki.history.unpack.zips}"
		property:excludedPattern="${files.excluded.pattern}"
		property:batchSize="${file.batch.size}"
		property:maxReadLength="${file.max.read.length}" 
		property:maxRevisions="${max.revisions}" 
		property:maxExceptions="${max.exceptions}" />

	<bean
		id="wikiHistoryThree"
		class="ikube.model.IndexContext"
		property:name="wikiHistoryThree"
		property:maxAge="${wiki.index.age}"
		property:compoundFile="${wiki.history.compound.file}"
		property:bufferedDocs="${buffered.docs}"
		property:bufferSize="${buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${merge.factor}"
		property:maxFieldLength="${max.field.length}"
		property:maxReadLength="${max.read.length}"
		property:throttle="${wiki.history.throttle}"
		property:indexDirectoryPath="${index.root}/nas-three/history/index"
		property:indexDirectoryPathBackup="${index.root}/nas-three/history/index"
		property:children-ref="wikiHistoryIndexablesThree" />
	<util:list id="wikiHistoryIndexablesThree">
		<ref local="wikiHistoryDataThree" />
	</util:list>
	<bean
		id="wikiHistoryDataThree"
		class="ikube.model.IndexableFileSystemWiki"
		property:name="wikiHistoryDataThree"
		property:path="${index.root}/nas-three/history"
		property:pathFieldName="path"
		property:nameFieldName="name"
		property:lengthFieldName="length"
		property:contentFieldName="contents"
		property:lastModifiedFieldName="lastmodified"
		property:stored="${wiki.history.stored}"
		property:analyzed="${wiki.history.analyzed}"
		property:vectored="${wiki.history.vectored}"
		property:unpackZips="${wiki.history.unpack.zips}"
		property:excludedPattern="${files.excluded.pattern}"
		property:batchSize="${file.batch.size}"
		property:maxReadLength="${file.max.read.length}" 
		property:maxRevisions="${max.revisions}" 
		property:maxExceptions="${max.exceptions}" />

	<bean
		id="wikiHistoryFour"
		class="ikube.model.IndexContext"
		property:name="wikiHistoryFour"
		property:maxAge="${wiki.index.age}"
		property:compoundFile="${wiki.history.compound.file}"
		property:bufferedDocs="${buffered.docs}"
		property:bufferSize="${buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${merge.factor}"
		property:maxFieldLength="${max.field.length}"
		property:maxReadLength="${max.read.length}"
		property:throttle="${wiki.history.throttle}"
		property:indexDirectoryPath="${index.root}/nas-four/history/index"
		property:indexDirectoryPathBackup="${index.root}/nas-four/history/index"
		property:children-ref="wikiHistoryIndexablesFour" />
	<util:list id="wikiHistoryIndexablesFour">
		<ref local="wikiHistoryDataFour" />
	</util:list>
	<bean
		id="wikiHistoryDataFour"
		class="ikube.model.IndexableFileSystemWiki"
		property:name="wikiHistoryDataFour"
		property:path="${index.root}/nas-four/history"
		property:pathFieldName="path"
		property:nameFieldName="name"
		property:lengthFieldName="length"
		property:contentFieldName="contents"
		property:lastModifiedFieldName="lastmodified"
		property:stored="${wiki.history.stored}"
		property:analyzed="${wiki.history.analyzed}"
		property:vectored="${wiki.history.vectored}"
		property:unpackZips="${wiki.history.unpack.zips}"
		property:excludedPattern="${files.excluded.pattern}"
		property:batchSize="${file.batch.size}"
		property:maxReadLength="${file.max.read.length}" 
		property:maxRevisions="${max.revisions}" 
		property:maxExceptions="${max.exceptions}" />

	<bean
		id="wikiHistoryFive"
		class="ikube.model.IndexContext"
		property:name="wikiHistoryFive"
		property:maxAge="${wiki.index.age}"
		property:compoundFile="${wiki.history.compound.file}"
		property:bufferedDocs="${buffered.docs}"
		property:bufferSize="${buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${merge.factor}"
		property:maxFieldLength="${max.field.length}"
		property:maxReadLength="${max.read.length}"
		property:throttle="${wiki.history.throttle}"
		property:indexDirectoryPath="${index.root}/nas-five/history/index"
		property:indexDirectoryPathBackup="${index.root}/nas-five/history/index"
		property:children-ref="wikiHistoryIndexablesFive" />
	<util:list id="wikiHistoryIndexablesFive">
		<ref local="wikiHistoryDataFive" />
	</util:list>
	<bean
		id="wikiHistoryDataFive"
		class="ikube.model.IndexableFileSystemWiki"
		property:name="wikiHistoryDataFive"
		property:path="${index.root}/nas-five/history"
		property:pathFieldName="path"
		property:nameFieldName="name"
		property:lengthFieldName="length"
		property:contentFieldName="contents"
		property:lastModifiedFieldName="lastmodified"
		property:stored="${wiki.history.stored}"
		property:analyzed="${wiki.history.analyzed}"
		property:vectored="${wiki.history.vectored}"
		property:unpackZips="${wiki.history.unpack.zips}"
		property:excludedPattern="${files.excluded.pattern}"
		property:batchSize="${file.batch.size}"
		property:maxReadLength="${file.max.read.length}" 
		property:maxRevisions="${max.revisions}" 
		property:maxExceptions="${max.exceptions}" />
		
	<bean
		id="wikiHistoryArabic"
		class="ikube.model.IndexContext"
		property:name="wikiHistoryArabic"
		property:maxAge="${wiki.index.age}"
		property:compoundFile="${history.compound.file}"
		property:bufferedDocs="${history.buffered.docs}"
		property:bufferSize="${history.buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${history.merge.factor}"
		property:maxFieldLength="${history.max.field.length}"
		property:maxReadLength="${history.max.read.length}"
		property:throttle="${wiki.history.throttle}"
		property:indexDirectoryPath="${index.root}/nas-one/languages/index"
		property:indexDirectoryPathBackup="${index.root}/nas-one/languages/index"
		property:children-ref="wikiHistoryIndexablesArabic" />
	<util:list id="wikiHistoryIndexablesArabic">
		<ref local="wikiHistoryDataArabic" />
	</util:list>
	<bean
		id="wikiHistoryDataArabic"
		class="ikube.model.IndexableFileSystemWiki"
		property:name="wikiHistoryDataArabic"
		property:path="${index.root}/nas-one/languages/arwiki"
		property:pathFieldName="path"
		property:nameFieldName="name"
		property:lengthFieldName="length"
		property:contentFieldName="contents"
		property:lastModifiedFieldName="lastmodified"
		property:stored="${wiki.history.languages.stored}"
		property:analyzed="${wiki.history.languages.analyzed}"
		property:vectored="${wiki.history.languages.vectored}"
		property:unpackZips="${wiki.history.languages.unpack.zips}"
		property:excludedPattern="${files.excluded.pattern}"
		property:batchSize="${file.batch.size}"
		property:maxReadLength="${file.max.read.length}"
		property:maxRevisions="${max.revisions}"
		property:maxExceptions="${max.exceptions}" />
	
	<bean
		id="wikiHistoryDutch"
		class="ikube.model.IndexContext"
		property:name="wikiHistoryDutch"
		property:maxAge="${wiki.index.age}"
		property:compoundFile="${history.compound.file}"
		property:bufferedDocs="${history.buffered.docs}"
		property:bufferSize="${history.buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${history.merge.factor}"
		property:maxFieldLength="${history.max.field.length}"
		property:maxReadLength="${history.max.read.length}"
		property:throttle="${wiki.history.throttle}"
		property:indexDirectoryPath="${index.root}/nas-one/languages/index"
		property:indexDirectoryPathBackup="${index.root}/nas-one/languages/index"
		property:children-ref="wikiHistoryIndexablesDutch" />
	<util:list id="wikiHistoryIndexablesDutch">
		<ref local="wikiHistoryDataDutch" />
	</util:list>
	<bean
		id="wikiHistoryDataDutch"
		class="ikube.model.IndexableFileSystemWiki"
		property:name="wikiHistoryDataDutch"
		property:path="${index.root}/nas-one/languages/nlwiki"
		property:pathFieldName="path"
		property:nameFieldName="name"
		property:lengthFieldName="length"
		property:contentFieldName="contents"
		property:lastModifiedFieldName="lastmodified"
		property:stored="${wiki.history.languages.stored}"
		property:analyzed="${wiki.history.languages.analyzed}"
		property:vectored="${wiki.history.languages.vectored}"
		property:unpackZips="${wiki.history.languages.unpack.zips}"
		property:excludedPattern="${files.excluded.pattern}"
		property:batchSize="${file.batch.size}"
		property:maxReadLength="${file.max.read.length}"
		property:maxRevisions="${max.revisions}" />

	<bean
		id="wikiHistoryFrench"
		class="ikube.model.IndexContext"
		property:name="wikiHistoryFrench"
		property:maxAge="${wiki.index.age}"
		property:compoundFile="${history.compound.file}"
		property:bufferedDocs="${history.buffered.docs}"
		property:bufferSize="${history.buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${history.merge.factor}"
		property:maxFieldLength="${history.max.field.length}"
		property:maxReadLength="${history.max.read.length}"
		property:throttle="${wiki.history.throttle}"
		property:indexDirectoryPath="${index.root}/nas-two/languages/index"
		property:indexDirectoryPathBackup="${index.root}/nas-two/languages/index"
		property:children-ref="wikiHistoryIndexablesFrench" />
	<util:list id="wikiHistoryIndexablesFrench">
		<ref local="wikiHistoryDataFrench" />
	</util:list>
	<bean
		id="wikiHistoryDataFrench"
		class="ikube.model.IndexableFileSystemWiki"
		property:name="wikiHistoryDataFrench"
		property:path="${index.root}/nas-two/languages/frwiki"
		property:pathFieldName="path"
		property:nameFieldName="name"
		property:lengthFieldName="length"
		property:contentFieldName="contents"
		property:lastModifiedFieldName="lastmodified"
		property:stored="${wiki.history.languages.stored}"
		property:analyzed="${wiki.history.languages.analyzed}"
		property:vectored="${wiki.history.languages.vectored}"
		property:unpackZips="${wiki.history.languages.unpack.zips}"
		property:excludedPattern="${files.excluded.pattern}"
		property:batchSize="${file.batch.size}"
		property:maxReadLength="${file.max.read.length}"
		property:maxRevisions="${max.revisions}"
		property:maxExceptions="${max.exceptions}" />

	<bean
		id="wikiHistoryGerman"
		class="ikube.model.IndexContext"
		property:name="wikiHistoryGerman"
		property:maxAge="${wiki.index.age}"
		property:compoundFile="${history.compound.file}"
		property:bufferedDocs="${history.buffered.docs}"
		property:bufferSize="${history.buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${history.merge.factor}"
		property:maxFieldLength="${history.max.field.length}"
		property:maxReadLength="${history.max.read.length}"
		property:throttle="${wiki.history.throttle}"
		property:indexDirectoryPath="${index.root}/nas-two/languages/index"
		property:indexDirectoryPathBackup="${index.root}/nas-two/languages/index"
		property:children-ref="wikiHistoryIndexablesGerman" />
	<util:list id="wikiHistoryIndexablesGerman">
		<ref local="wikiHistoryDataGerman" />
	</util:list>
	<bean
		id="wikiHistoryDataGerman"
		class="ikube.model.IndexableFileSystemWiki"
		property:name="wikiHistoryDataGerman"
		property:path="${index.root}/nas-two/languages/dewiki"
		property:pathFieldName="path"
		property:nameFieldName="name"
		property:lengthFieldName="length"
		property:contentFieldName="contents"
		property:lastModifiedFieldName="lastmodified"
		property:stored="${wiki.history.languages.stored}"
		property:analyzed="${wiki.history.languages.analyzed}"
		property:vectored="${wiki.history.languages.vectored}"
		property:unpackZips="${wiki.history.languages.unpack.zips}"
		property:excludedPattern="${files.excluded.pattern}"
		property:batchSize="${file.batch.size}"
		property:maxReadLength="${file.max.read.length}"
		property:maxRevisions="${max.revisions}"
		property:maxExceptions="${max.exceptions}" />

	<bean
		id="wikiHistoryPolish"
		class="ikube.model.IndexContext"
		property:name="wikiHistoryPolish"
		property:maxAge="${wiki.index.age}"
		property:compoundFile="${history.compound.file}"
		property:bufferedDocs="${history.buffered.docs}"
		property:bufferSize="${history.buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${history.merge.factor}"
		property:maxFieldLength="${history.max.field.length}"
		property:maxReadLength="${history.max.read.length}"
		property:throttle="${wiki.history.throttle}"
		property:indexDirectoryPath="${index.root}/nas-three/languages/index"
		property:indexDirectoryPathBackup="${index.root}/nas-three/languages/index"
		property:children-ref="wikiHistoryIndexablesPolish" />
	<util:list id="wikiHistoryIndexablesPolish">
		<ref local="wikiHistoryDataPolish" />
	</util:list>
	<bean
		id="wikiHistoryDataPolish"
		class="ikube.model.IndexableFileSystemWiki"
		property:name="wikiHistoryDataPolish"
		property:path="${index.root}/nas-three/languages/plwiki"
		property:pathFieldName="path"
		property:nameFieldName="name"
		property:lengthFieldName="length"
		property:contentFieldName="contents"
		property:lastModifiedFieldName="lastmodified"
		property:stored="${wiki.history.languages.stored}"
		property:analyzed="${wiki.history.languages.analyzed}"
		property:vectored="${wiki.history.languages.vectored}"
		property:unpackZips="${wiki.history.languages.unpack.zips}"
		property:excludedPattern="${files.excluded.pattern}"
		property:batchSize="${file.batch.size}"
		property:maxReadLength="${file.max.read.length}"
		property:maxRevisions="${max.revisions}" 
		property:maxExceptions="${max.exceptions}" />
		
	<bean
		id="wikiHistoryPortuguese"
		class="ikube.model.IndexContext"
		property:name="wikiHistoryPortuguese"
		property:maxAge="${wiki.index.age}"
		property:compoundFile="${history.compound.file}"
		property:bufferedDocs="${history.buffered.docs}"
		property:bufferSize="${history.buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${history.merge.factor}"
		property:maxFieldLength="${history.max.field.length}"
		property:maxReadLength="${history.max.read.length}"
		property:throttle="${wiki.history.throttle}"
		property:indexDirectoryPath="${index.root}/nas-three/languages/index"
		property:indexDirectoryPathBackup="${index.root}/nas-three/languages/index"
		property:children-ref="wikiHistoryIndexablesPortuguese" />
	<util:list id="wikiHistoryIndexablesPortuguese">
		<ref local="wikiHistoryDataPortuguese" />
	</util:list>
	<bean
		id="wikiHistoryDataPortuguese"
		class="ikube.model.IndexableFileSystemWiki"
		property:name="wikiHistoryDataPortuguese"
		property:path="${index.root}/nas-three/languages/ptwiki"
		property:pathFieldName="path"
		property:nameFieldName="name"
		property:lengthFieldName="length"
		property:contentFieldName="contents"
		property:lastModifiedFieldName="lastmodified"
		property:stored="${wiki.history.languages.stored}"
		property:analyzed="${wiki.history.languages.analyzed}"
		property:vectored="${wiki.history.languages.vectored}"
		property:unpackZips="${wiki.history.languages.unpack.zips}"
		property:excludedPattern="${files.excluded.pattern}"
		property:batchSize="${file.batch.size}"
		property:maxReadLength="${file.max.read.length}"
		property:maxRevisions="${max.revisions}" 
		property:maxExceptions="${max.exceptions}" />
		
	<bean
		id="wikiHistoryRussian"
		class="ikube.model.IndexContext"
		property:name="wikiHistoryRussian"
		property:maxAge="${wiki.index.age}"
		property:compoundFile="${history.compound.file}"
		property:bufferedDocs="${history.buffered.docs}"
		property:bufferSize="${history.buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${history.merge.factor}"
		property:maxFieldLength="${history.max.field.length}"
		property:maxReadLength="${history.max.read.length}"
		property:throttle="${wiki.history.throttle}"
		property:indexDirectoryPath="${index.root}/nas-four/languages/index"
		property:indexDirectoryPathBackup="${index.root}/nas-four/languages/index"
		property:children-ref="wikiHistoryIndexablesRussian" />
	<util:list id="wikiHistoryIndexablesRussian">
		<ref local="wikiHistoryDataRussian" />
	</util:list>
	<bean
		id="wikiHistoryDataRussian"
		class="ikube.model.IndexableFileSystemWiki"
		property:name="wikiHistoryDataRussian"
		property:path="${index.root}/nas-four/languages/ruwiki"
		property:pathFieldName="path"
		property:nameFieldName="name"
		property:lengthFieldName="length"
		property:contentFieldName="contents"
		property:lastModifiedFieldName="lastmodified"
		property:stored="${wiki.history.languages.stored}"
		property:analyzed="${wiki.history.languages.analyzed}"
		property:vectored="${wiki.history.languages.vectored}"
		property:unpackZips="${wiki.history.languages.unpack.zips}"
		property:excludedPattern="${files.excluded.pattern}"
		property:batchSize="${file.batch.size}"
		property:maxReadLength="${file.max.read.length}"
		property:maxRevisions="${max.revisions}" 
		property:maxExceptions="${max.exceptions}" />
	
	<bean
		id="wikiHistoryItalian"
		class="ikube.model.IndexContext"
		property:name="wikiHistoryItalian"
		property:maxAge="${wiki.index.age}"
		property:compoundFile="${history.compound.file}"
		property:bufferedDocs="${history.buffered.docs}"
		property:bufferSize="${history.buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${history.merge.factor}"
		property:maxFieldLength="${history.max.field.length}"
		property:maxReadLength="${history.max.read.length}"
		property:throttle="${wiki.history.throttle}"
		property:indexDirectoryPath="${index.root}/nas-four/languages/index"
		property:indexDirectoryPathBackup="${index.root}/nas-four/languages/index"
		property:children-ref="wikiHistoryIndexablesItalian" />
	<util:list id="wikiHistoryIndexablesItalian">
		<ref local="wikiHistoryDataItalian" />
	</util:list>
	<bean
		id="wikiHistoryDataItalian"
		class="ikube.model.IndexableFileSystemWiki"
		property:name="wikiHistoryDataItalian"
		property:path="${index.root}/nas-four/languages/itwiki"
		property:pathFieldName="path"
		property:nameFieldName="name"
		property:lengthFieldName="length"
		property:contentFieldName="contents"
		property:lastModifiedFieldName="lastmodified"
		property:stored="${wiki.history.languages.stored}"
		property:analyzed="${wiki.history.languages.analyzed}"
		property:vectored="${wiki.history.languages.vectored}"
		property:unpackZips="${wiki.history.languages.unpack.zips}"
		property:excludedPattern="${files.excluded.pattern}"
		property:batchSize="${file.batch.size}"
		property:maxReadLength="${file.max.read.length}"
		property:maxRevisions="${max.revisions}" 
		property:maxExceptions="${max.exceptions}" />
	
	<bean
		id="wikiHistorySpanish"
		class="ikube.model.IndexContext"
		property:name="wikiHistorySpanish"
		property:maxAge="${wiki.index.age}"
		property:compoundFile="${history.compound.file}"
		property:bufferedDocs="${history.buffered.docs}"
		property:bufferSize="${history.buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${history.merge.factor}"
		property:maxFieldLength="${history.max.field.length}"
		property:maxReadLength="${history.max.read.length}"
		property:throttle="${wiki.history.throttle}"
		property:indexDirectoryPath="${index.root}/nas-five/languages/index"
		property:indexDirectoryPathBackup="${index.root}/nas-five/languages/index"
		property:children-ref="wikiHistoryIndexablesSpanish" />
	<util:list id="wikiHistoryIndexablesSpanish">
		<ref local="wikiHistoryDataSpanish" />
	</util:list>
	<bean
		id="wikiHistoryDataSpanish"
		class="ikube.model.IndexableFileSystemWiki"
		property:name="wikiHistoryDataSpanish"
		property:path="${index.root}/nas-five/languages/eswiki"
		property:pathFieldName="path"
		property:nameFieldName="name"
		property:lengthFieldName="length"
		property:contentFieldName="contents"
		property:lastModifiedFieldName="lastmodified"
		property:stored="${wiki.history.languages.stored}"
		property:analyzed="${wiki.history.languages.analyzed}"
		property:vectored="${wiki.history.languages.vectored}"
		property:unpackZips="${wiki.history.languages.unpack.zips}"
		property:excludedPattern="${files.excluded.pattern}"
		property:batchSize="${file.batch.size}"
		property:maxReadLength="${file.max.read.length}"
		property:maxRevisions="${max.revisions}" 
		property:maxExceptions="${max.exceptions}" />
		
	
	
</beans>