<?xml version="1.0" encoding="UTF-8"?>

<beans
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:property="http://www.springframework.org/schema/p"
	xmlns:transaction="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"

	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config />
	<aop:aspectj-autoproxy proxy-target-class="true" />
	
	<!-- Persistence class -->
	<bean
		id="ikube.database.odb.DataBaseOdb"
		class="ikube.database.odb.DataBaseOdb"
		lazy-init="false"
		init-method="initialise"
		destroy-method="close">
		<property name="indexes">
			<list>
				<bean
					id="ikube.database.odb.Index.Url"
					class="ikube.database.odb.Index"
					property:className="ikube.model.Url">
					<property name="fieldNames">
						<list>
							<!-- Neodatis doesn't like indexes -->
							<!--<value>id</value>
							<value>url</value>
							<value>hash</value>-->
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	<!-- Cluster wide cache -->
	<bean
		id="ikube.cluster.cache.ICache"
		class="ikube.cluster.cache.Cache"
		lazy-init="false"
		init-method="initialise"
		property:dataBase-ref="ikube.database.odb.DataBaseOdb" />
	<!-- Cluster wide manager -->
	<!-- init-method="initialise" -->
	<bean
		id="ikube.cluster.IClusterManager"
		class="ikube.cluster.ClusterManager"
		lazy-init="false"
		property:cache-ref="ikube.cluster.cache.ICache" />
	
	<bean 
		id="ikube.index.SynchronizationManager"
		class="ikube.index.SynchronizationManager"
		lazy-init="true"
		init-method="initialize"
		property:clusterManager-ref="ikube.cluster.IClusterManager" />
	
	<!-- Core class for managing indexes and contexts -->
	<bean
		class="ikube.IndexEngine"
		property:actions-ref="actions" />

	<!-- Actions to perform on the contexts -->
	<bean id="ikube.action.Close" class="ikube.action.Close" />
	<bean id="ikube.action.Delete" class="ikube.action.Delete" />
	<bean id="ikube.action.Index" class="ikube.action.Index" />
	<bean id="ikube.action.Open" class="ikube.action.Open" />
	<bean id="ikube.action.Reset" class="ikube.action.Reset" />
	<util:list id="actions">
		<ref local="ikube.action.Reset" />
		<ref local="ikube.action.Close" />
		<ref local="ikube.action.Open" />
		<ref local="ikube.action.Index" />
		<ref local="ikube.action.Delete" />
	</util:list>
	
	<!-- Indexable handlers -->
	<bean
		class="ikube.index.handler.internet.IndexableInternetHandler"
		property:threads="${internet.handler.threads}" />
	<bean
		class="ikube.index.handler.email.IndexableEmailHandler"
		property:threads="${email.handler.threads}" />
	<bean
		class="ikube.index.handler.filesystem.IndexableFilesystemHandler"
		property:threads="${filesystem.handler.threads}" />
	<bean
		class="ikube.index.handler.database.IndexableTableHandler"
		property:threads="${table.handler.threads}" />

	<!-- Mime type classes/mapping -->
	<bean id="ikube.index.parse.mime.MimeMapper" class="ikube.index.parse.mime.MimeMapper">
		<constructor-arg value="/META-INF/mime/mime-mapping.xml" />
	</bean>
	<bean id="ikube.index.parse.mime.MimeTypes" class="ikube.index.parse.mime.MimeTypes">
		<constructor-arg value="/META-INF/mime/mime-types.xml" />
	</bean>
	
	<!-- External access to the results -->
	<bean
		id="ikube.service.SearcherWebService"
		class="ikube.service.SearcherWebService" />
	<bean
		id="ikube.service.WebServicePublisher"
		class="ikube.service.WebServicePublisher"
		init-method="publish" >
		<property name="protocols">
			<list>
				<value>${web.service.protocol}</value>
				<value>${web.service.protocol}</value>
			</list>
		</property>
		<property name="hosts">
			<list>
				<value>${web.service.host}</value>
				<value>${web.service.host}</value>
			</list>
		</property>
		<property name="ports">
			<list>
				<value>${web.service.port}</value>
				<value>${web.service.port}</value>
			</list>
		</property>
		<property name="paths">
			<list>
				<value>${web.service.path}</value>
				<value>${web.service.path}</value>
			</list>
		</property>
		<property name="implementors">
			<list>
				<ref local="ikube.service.SearcherWebService" />
				<ref local="ikube.service.SearcherWebService" />
			</list>
		</property>
	</bean>
	
	<!-- Continuous testing in production class  -->
	<bean
		id="ikube.service.SearcherWebServiceExecuter"
		class="ikube.service.SearcherWebServiceExecuter"
		property:configurationName="faq"
		property:end="101"
		property:endpointUri="${web.service.protocol}://${web.service.host}:${web.service.port}${web.service.path}?wsdl"
		property:fieldName="contents"
		property:fragment="true"
		property:resultsSizeMinimum="1"
		property:searchString="clinch crackerjack books gall thoroughgoing
			tall pissed committee greathearted cyborg devotional tremor"
		property:start="0" />
	
	<!-- The scheduling class -->
	<bean
		class="ikube.listener.Scheduler"
		init-method="initialize"
		property:schedules-ref="scheduled.tasks" />
	<util:list id="scheduled.tasks">
		<ref local="ikube.listener.Schedule" />
		<ref local="ikube.listener.Schedule.Synchroinse" />
		<ref local="ikube.listener.Schedule.WebService" />
	</util:list>

	<!-- The schedules for events firing -->
	<bean
		id="ikube.listener.Schedule"
		class="ikube.listener.Schedule"
		property:type="timer"
		property:delay="${delay}"
		property:period="${period}" />
	<bean
		id="ikube.listener.Schedule.WebService"
		class="ikube.listener.Schedule"
		property:type="service"
		property:delay="${web.service.delay}"
		property:period="${web.service.period}" />	
	<bean
		id="ikube.listener.Schedule.Synchroinse"
		class="ikube.listener.Schedule"
		property:type="synchronise"
		property:delay="${synchronisation.delay}"
		property:period="${synchronisation.period}" />
	
		<!-- Utility classes -->
	<bean
		class="ikube.toolkit.Mailer"
		property:auth="true"
		property:mailHost="smtp.gmail.com"
		property:password="caherline"
		property:port="465"
		property:protocol="pop3"
		property:recipients="ikube.ikube@gmail.com"
		property:sender="ikube.ikube@gmail.com"
		property:user="ikube.ikube" />
</beans>