<?xml version="1.0" encoding="UTF-8"?>

<beans
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:property="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"

    xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd">

    <!-- This configuration is for FIS documentation and source code. -->
    <bean
        id="fis"
        class="ikube.model.IndexContext"
        property:name="fis"
        property:maxAge="60000"
        property:compoundFile="true"
        property:bufferedDocs="10"
        property:bufferSize="1024"
        property:batchSize="1000"
        property:internetBatchSize="10"
        property:mergeFactor="10"
        property:maxFieldLength="10000000"
        property:maxReadLength="10000000"
        property:throttle="0"
        property:threads="1"
        property:delta="false"

        property:analyzer-ref="ikube.action.index.analyzer.StemmingAnalyzer"

        property:indexDirectoryPath="${index.directory.path}"
        property:indexDirectoryPathBackup="${index.directory.path}"
        property:children-ref="fis-folders" />
    <util:list id="fis-folders">
        <ref local="opf-source"/>
        <ref local="xct-source"/>
        <ref local="sepa-source"/>
        <ref local="cobaxt-source"/>
        <ref local="cobaxt-security-source"/>
    </util:list>

    <bean
        id="opf-source"
        class="ikube.model.IndexableFileSystem"
        property:name="opf-source"
        property:path="/home/fis/opf"
        property:pathFieldName="path"
        property:nameFieldName="name"
        property:lengthFieldName="length"
        property:contentFieldName="contents"
        property:lastModifiedFieldName="lastmodified"
        property:unpackZips="true"

        property:stored="true"
        property:analyzed="true"
        property:tokenized="true"
        property:omitNorms="true"

        property:vectored="false"

        property:excludedPattern="fis-excluded-files"

        property:batchSize="10"
        property:maxReadLength="${fis-max-read-length}"
        property:maxExceptions="1000000"
        property:threads="1"
        property:strategies-ref="fis-strategies" />

    <bean
        id="xct-source"
        class="ikube.model.IndexableFileSystem"
        property:name="xct-source"
        property:path="/home/fis/xct"
        property:pathFieldName="path"
        property:nameFieldName="name"
        property:lengthFieldName="length"
        property:contentFieldName="contents"
        property:lastModifiedFieldName="lastmodified"
        property:unpackZips="true"

        property:stored="true"
        property:analyzed="true"
        property:tokenized="true"
        property:omitNorms="true"

        property:vectored="false"

        property:excludedPattern="fis-excluded-files"

        property:batchSize="10"
        property:maxReadLength="${fis-max-read-length}"
        property:maxExceptions="1000000"
        property:threads="1"
        property:strategies-ref="fis-strategies" />

    <bean
        id="sepa-source"
        class="ikube.model.IndexableFileSystem"
        property:name="sepa-source"
        property:path="/home/fis/sepa"
        property:pathFieldName="path"
        property:nameFieldName="name"
        property:lengthFieldName="length"
        property:contentFieldName="contents"
        property:lastModifiedFieldName="lastmodified"
        property:unpackZips="true"

        property:stored="true"
        property:analyzed="true"
        property:tokenized="true"
        property:omitNorms="true"

        property:vectored="false"

        property:excludedPattern="fis-excluded-files"

        property:batchSize="10"
        property:maxReadLength="${fis-max-read-length}"
        property:maxExceptions="10000"
        property:threads="5"
        property:strategies-ref="fis-strategies" />

    <bean
        id="cobaxt-source"
        class="ikube.model.IndexableFileSystem"
        property:name="cobaxt-source"
        property:path="/home/fis/cobaxt"
        property:pathFieldName="path"
        property:nameFieldName="name"
        property:lengthFieldName="length"
        property:contentFieldName="contents"
        property:lastModifiedFieldName="lastmodified"
        property:unpackZips="true"

        property:stored="true"
        property:analyzed="true"
        property:tokenized="true"
        property:omitNorms="true"

        property:vectored="false"

        property:excludedPattern="fis-excluded-files"

        property:batchSize="10"
        property:maxReadLength="10000000"
        property:maxExceptions="1000000"
        property:threads="1"
        property:strategies-ref="fis-strategies" />

    <bean
        id="cobaxt-security-source"
        class="ikube.model.IndexableFileSystem"
        property:name="cobaxt-security-source"
        property:path="/home/fis/cobaxt-security"
        property:pathFieldName="path"
        property:nameFieldName="name"
        property:lengthFieldName="length"
        property:contentFieldName="contents"
        property:lastModifiedFieldName="lastmodified"
        property:unpackZips="true"

        property:stored="true"
        property:analyzed="true"
        property:tokenized="true"
        property:omitNorms="true"

        property:vectored="false"

        property:excludedPattern="fis-excluded-files"

        property:batchSize="10"
        property:maxReadLength="${fis-max-read-length}"
        property:maxExceptions="1000000"
        property:threads="1"
        property:strategies-ref="fis-strategies" />

    <bean
        id="credit-suisse"
        class="ikube.model.IndexableFileSystem"
        property:name="credit-suisse"
        property:path="/home/fis/credit-suisse"
        property:pathFieldName="path"
        property:nameFieldName="name"
        property:lengthFieldName="length"
        property:contentFieldName="contents"
        property:lastModifiedFieldName="lastmodified"
        property:unpackZips="true"

        property:stored="true"
        property:analyzed="true"
        property:tokenized="true"
        property:omitNorms="true"

        property:vectored="false"

        property:excludedPattern="fis-excluded-files"

        property:batchSize="10"
        property:maxReadLength="${fis-max-read-length}"
        property:maxExceptions="1000000"
        property:threads="4"
        property:strategies-ref="fis-strategies" />

    <util:list id="fis-strategies">
        <ref bean="ikube.action.index.handler.strategy.ContentTypeStrategy"/>
        <ref bean="ikube.action.index.handler.strategy.LanguageDetectionStrategy"/>
    </util:list>

    <bean
        id="fis-cobaxt-svn"
        class="ikube.model.IndexableSvn"
        property:name="fis-cobaxt-svn"
        property:url="https://be-svn-01.clear2pay.com/svn/repos/cobaxt"
        property:filePath="trunk"
        property:revision="revision"
        property:revisionDate="revision-date"
        property:size="size"
        property:contents="contents"

        property:analyzed="true"
        property:stored="true"
        property:vectored="false"
        property:tokenized="false"
        property:omitNorms="true"

        property:threads="5"
        property:address="false"
        property:username="mcouck"
        property:address="Caherl4ne2013"
        property:excludedPattern=".*(.jar).*|.*(.zip).*|.*(.png).*|.*(.jpeg).*|.*(.ico).*|.*(.svg).*|.*(.gif).*|.*(.ttf).*"
        property:strategies-ref="ikube-strategies"/>

</beans>