<?xml version="1.0" encoding="UTF-8"?>

<beans
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:property="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"

    xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd">

    <bean
        id="credit-suisse"
        class="ikube.model.IndexContext"
        property:name="credit-suisse"
        property:maxAge="60000"
        property:compoundFile="true"
        property:bufferedDocs="10"
        property:bufferSize="1024"
        property:batchSize="1000"
        property:internetBatchSize="10"
        property:mergeFactor="10"
        property:maxFieldLength="10000000"
        property:maxReadLength="10000000"
        property:throttle="0"
        property:threads="1"
        property:delta="false"

        property:analyzer-ref="ikube.action.index.analyzer.StemmingAnalyzer"

        property:indexDirectoryPath="${index.directory.path}"
        property:indexDirectoryPathBackup="${index.directory.path}"
        property:children-ref="folders" />
    <util:list id="folders">
        <ref bean="credit-suisse-source"/>
    </util:list>

</beans>