<?xml version="1.0" encoding="UTF-8"?>

<beans
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:property="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"

	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean
		id="faqIndexContext.six"
		class="ikube.model.IndexContext"
		property:name="ikube.six"
		property:indexName="faq"
		property:maxAge="${max.age}"
		property:compoundFile="${compound.file}"
		property:bufferedDocs="${buffered.docs}"
		property:bufferSize="${buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:mergeFactor="${merge.factor}"
		property:maxFieldLength="${max.field.length}"
		property:maxReadLength="${max.read.length}"
		property:queueTimeout="${max.age}"
		property:indexDirectoryPath="${index.directory.path}"
		property:indexables-ref="faqIndexables.six"
		property:indexableVisitors-ref="faqIndexableVisitors.six" />
	<util:list id="faqIndexables.six">
		<ref local="ikubeMail.six" />
		<ref local="faqTable.six" />
	</util:list>
	<util:list id="faqIndexableVisitors.six">
		<ref local="ikubeMailVisitor.six" />
		<ref local="faqTableVisitor.six" />
	</util:list>

	<!-- Indexable visitors -->
	<bean
		id="ikubeMailVisitor.six"
		class="ikube.index.visitor.email.IndexableEmailVisitor"
		property:indexContext-ref="faqIndexContext.six"
		property:indexableType="ikube.model.IndexableEmail" />
	<bean
		id="faqTableVisitor.six"
		class="ikube.index.visitor.database.IndexableTableVisitor"
		property:indexContext-ref="faqIndexContext.six"
		property:indexableType="ikube.model.IndexableTable"
		property:indexableColumnVisitor-ref="faqColumnVisitor.six"
		property:fetchSize="${jdbc.fetch.size}" />
	<bean
		id="faqColumnVisitor.six"
		class="ikube.index.visitor.database.IndexableColumnVisitor"
		property:indexableType="ikube.model.IndexableColumn" />

	<!-- Indexables -->
	<bean
		id="faqTable.six"
		class="ikube.model.IndexableTable"
		property:name="faq"
		property:sql="select faq.faqid, faq.answer, faq.creationtimestamp, faq.creator, faq.modifiedtimestamp, faq.modifier,
			faq.published, faq.question, attachment.attachmentid, attachment.name, attachment.attachment,
			attachment.length, attachment.faqid from faq, attachment where faq.faqid = attachment.faqid"
		property:dataSource-ref="nonXaDataSource"
		property:children-ref="faqColumns.six" />
	<util:set id="faqColumns.six">
		<ref local="faqId.six" />
		<ref local="creationtimestamp.six" />
		<ref local="modifiedtimestamp.six" />
		<ref local="creator.six" />
		<ref local="modifier.six" />
		<ref local="question.six" />
		<ref local="answer.six" />
		<ref local="attachmentid.six" />
		<ref local="name.six" />
		<ref local="attachment.six" />
		<ref local="length.six" />
	</util:set>
	<bean
		id="faqId.six"
		class="ikube.model.IndexableColumn"
		property:name="faqId"
		property:idColumn="true" />
	<bean
		id="creationtimestamp.six"
		class="ikube.model.IndexableColumn"
		property:name="creationtimestamp" />
	<bean
		id="modifiedtimestamp.six"
		class="ikube.model.IndexableColumn"
		property:name="modifiedtimestamp" />
	<bean
		id="creator.six"
		class="ikube.model.IndexableColumn"
		property:name="creator" />
	<bean
		id="modifier.six"
		class="ikube.model.IndexableColumn"
		property:name="modifier" />
	<bean
		id="question.six"
		class="ikube.model.IndexableColumn"
		property:name="question"
		property:fieldName="contents" />
	<bean
		id="answer.six"
		class="ikube.model.IndexableColumn"
		property:name="answer"
		property:fieldName="contents" />
	<bean
		id="attachmentid.six"
		class="ikube.model.IndexableColumn"
		property:name="attachmentid"
		property:fieldName="attachmentid" />
	<bean
		id="name.six"
		class="ikube.model.IndexableColumn"
		property:name="name"
		property:fieldName="name" />
	<bean
		id="attachment.six"
		class="ikube.model.IndexableColumn"
		property:name="attachment"
		property:fieldName="attachment"
		property:indexableColumn-ref="name.six" />
	<bean
		id="length.six"
		class="ikube.model.IndexableColumn"
		property:name="length"
		property:fieldName="length" />

	<bean
		id="ikubeMail.six"
		class="ikube.model.IndexableEmail"
		property:idField="identifier"
		property:contentField="email"
		property:mailHost="pop.gmail.com"
		property:name="ikube.email"
		property:password="caherline"
		property:port="995"
		property:protocol="pop3"
		property:secureSocketLayer="true"
		property:titleField="title"
		property:username="ikube.ikube@gmail.com" />

</beans>