<?xml version="1.0" encoding="UTF-8"?>

<beans
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:property="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"

	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean
		id="faqIndexContext.one"
		class="ikube.model.IndexContext"
		property:name="ikube.one"
		property:indexName="faq"
		property:maxAge="${max.age}"
		property:compoundFile="${compound.file}"
		property:bufferedDocs="${buffered.docs}"
		property:bufferSize="${buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:mergeFactor="${merge.factor}"
		property:maxFieldLength="${max.field.length}"
		property:maxReadLength="${max.read.length}"
		property:queueTimeout="${max.age}"
		property:indexDirectoryPath="${index.directory.path}"
		property:indexables-ref="faqIndexables.one"
		property:indexableVisitors-ref="faqIndexableVisitors.one" />
	<util:list id="faqIndexables.one">
		<ref local="ikubeMail.one" />
		<ref local="faqTable.one" />
	</util:list>
	<util:list id="faqIndexableVisitors.one">
		<ref local="ikubeMailVisitor.one" />
		<ref local="faqTableVisitor.one" />
	</util:list>

	<!-- Indexable visitors -->
	<bean
		id="ikubeMailVisitor.one"
		class="ikube.index.visitor.email.IndexableEmailVisitor"
		property:indexContext-ref="faqIndexContext.one"
		property:indexableType="ikube.model.IndexableEmail" />
	<bean
		id="faqTableVisitor.one"
		class="ikube.index.visitor.database.IndexableTableVisitor"
		property:indexContext-ref="faqIndexContext.one"
		property:indexableType="ikube.model.IndexableTable"
		property:indexableColumnVisitor-ref="faqColumnVisitor.one"
		property:fetchSize="${jdbc.fetch.size}" />
	<bean
		id="faqColumnVisitor.one"
		class="ikube.index.visitor.database.IndexableColumnVisitor"
		property:indexableType="ikube.model.IndexableColumn" />

	<!-- Indexables -->
	<bean
		id="faqTable.one"
		class="ikube.model.IndexableTable"
		property:name="faq"
		property:sql="select faq.faqid, faq.answer, faq.creationtimestamp, faq.creator, faq.modifiedtimestamp, faq.modifier,
			faq.published, faq.question, attachment.attachmentid, attachment.name, attachment.attachment,
			attachment.length, attachment.faqid from faq, attachment where faq.faqid = attachment.faqid"
		property:dataSource-ref="nonXaDataSource"
		property:children-ref="faqColumns.one" />
	<util:set id="faqColumns.one">
		<ref local="faqId.one" />
		<ref local="creationtimestamp.one" />
		<ref local="modifiedtimestamp.one" />
		<ref local="creator.one" />
		<ref local="modifier.one" />
		<ref local="question.one" />
		<ref local="answer.one" />
		<ref local="attachmentid.one" />
		<ref local="name.one" />
		<ref local="attachment.one" />
		<ref local="length.one" />
	</util:set>
	<bean
		id="faqId.one"
		class="ikube.model.IndexableColumn"
		property:name="faqId"
		property:idColumn="true" />
	<bean
		id="creationtimestamp.one"
		class="ikube.model.IndexableColumn"
		property:name="creationtimestamp" />
	<bean
		id="modifiedtimestamp.one"
		class="ikube.model.IndexableColumn"
		property:name="modifiedtimestamp" />
	<bean
		id="creator.one"
		class="ikube.model.IndexableColumn"
		property:name="creator" />
	<bean
		id="modifier.one"
		class="ikube.model.IndexableColumn"
		property:name="modifier" />
	<bean
		id="question.one"
		class="ikube.model.IndexableColumn"
		property:name="question"
		property:fieldName="contents" />
	<bean
		id="answer.one"
		class="ikube.model.IndexableColumn"
		property:name="answer"
		property:fieldName="contents" />
	<bean
		id="attachmentid.one"
		class="ikube.model.IndexableColumn"
		property:name="attachmentid"
		property:fieldName="attachmentid" />
	<bean
		id="name.one"
		class="ikube.model.IndexableColumn"
		property:name="name"
		property:fieldName="name" />
	<bean
		id="attachment.one"
		class="ikube.model.IndexableColumn"
		property:name="attachment"
		property:fieldName="attachment"
		property:indexableColumn-ref="name.one" />
	<bean
		id="length.one"
		class="ikube.model.IndexableColumn"
		property:name="length"
		property:fieldName="length" />

	<bean
		id="ikubeMail.one"
		class="ikube.model.IndexableEmail"
		property:idField="identifier"
		property:contentField="email"
		property:mailHost="pop.gmail.com"
		property:name="ikube.email"
		property:password="caherline"
		property:port="995"
		property:protocol="pop3"
		property:secureSocketLayer="true"
		property:titleField="title"
		property:username="ikube.ikube@gmail.com" />

	<!-- Utility classes -->
	<bean
		class="ikube.toolkit.Mailer"
		property:auth="true"
		property:mailHost="smtp.gmail.com"
		property:password="caherline"
		property:port="465"
		property:protocol="pop3"
		property:recipients="ikube.ikube@gmail.com"
		property:sender="ikube.ikube@gmail.com"
		property:user="ikube.ikube" />

</beans>