<?xml version="1.0" encoding="UTF-8"?>

<beans
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:property="http://www.springframework.org/schema/p"

	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean
		id="faqTableHandler"
		class="ikube.index.handler.database.IndexableTableHandler"
		property:threads="1">
		<constructor-arg><null /></constructor-arg>
	</bean>

	<bean id="ikube.index.parse.mime.MimeMapper" class="ikube.index.parse.mime.MimeMapper">
		<constructor-arg value="/META-INF/mime/mime-mapping.xml" />
	</bean>
	<bean id="ikube.index.parse.mime.MimeTypes" class="ikube.index.parse.mime.MimeTypes">
		<constructor-arg value="/META-INF/mime/mime-types.xml" />
	</bean>

</beans>