<?xml version="1.0" encoding="UTF-8"?>

<beans
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:property="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"

	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd">

	<bean
		id="campaignIndex"
		class="ikube.model.IndexContext"
		property:name="campaignIndex"
		property:maxAge="${max.age}"
		property:compoundFile="${compound.file}"
		property:bufferedDocs="${buffered.docs}"
		property:bufferSize="${buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${merge.factor}"
		property:maxFieldLength="${max.field.length}"
		property:maxReadLength="${max.read.length}"
		property:throttle="${throttle}"
		property:indexDirectoryPath="${index.directory.path}"
		property:indexDirectoryPathBackup="${index.directory.path.backup}"
		property:children-ref="campaignIndexables" />
	<util:list id="campaignIndexables">
		<ref local="active_geo_position" />
		<ref local="active_period" />
		<ref local="banner" />
		<ref local="campaign" />
		<ref local="campaign_action" />
		<ref local="campaign_customer_artwork" />
		<ref local="campaign_event" />
		<ref local="campaign_facebook_ad_group" />
		<ref local="campaign_facebook_virual" />
		<ref local="campaign_set" />
		<ref local="campaign_set_parameter" />
		<ref local="campaign_set_parameter_type" />
		<ref local="campaign_set_placement_type" />
		<ref local="campaign_set_site" />
		<ref local="campaign_set_target_age_group" />
		<ref local="campaign_set_target_heading" />
		<ref local="campaign_set_target_location" />
		<ref local="campaign_set_target_segment" />
		<ref local="country" />
		<ref local="customer_artwork" />
		<ref local="dbmaintain_scripts" />
		<ref local="facebook_ad_group" />
		<ref local="job_retry_detail" />
		<ref local="language" />
		<ref local="language_site_configuration" />
		<ref local="locale" />
		<ref local="message_track" />
		<ref local="network_delivery_channel" />
		<ref local="network_delivery_channel_configuration" />
		<ref local="network_delivery_channel_site" />
		<ref local="persistent_logins" />
		<ref local="placement_type" />
		<ref local="placement_type_site" />
		<ref local="position" />
		<ref local="position_text" />
		<ref local="position_type" />
		<ref local="position_type_site" />
		<ref local="role" />
		<ref local="site" />
		<ref local="site_configuration" />
		<ref local="site_configuration_target_segment" />
		<ref local="target_age_group" />
		<ref local="target_heading" />
		<ref local="target_location" />
		<ref local="target_segment" />
		<ref local="target_segment_target_heading" />
		<ref local="user" />
		<ref local="user_role" />
	</util:list>
	
	<bean
		id="active_geo_position"
		class="ikube.model.IndexableTable"
		property:name="active_geo_position"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10"
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="active_period"
		class="ikube.model.IndexableTable"
		property:name="active_period"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="banner"
		class="ikube.model.IndexableTable"
		property:name="banner"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="campaign"
		class="ikube.model.IndexableTable"
		property:name="campaign"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="campaign_action"
		class="ikube.model.IndexableTable"
		property:name="campaign_action"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="campaign_customer_artwork"
		class="ikube.model.IndexableTable"
		property:name="campaign_customer_artwork"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="campaign_event"
		class="ikube.model.IndexableTable"
		property:name="campaign_event"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="campaign_facebook_ad_group"
		class="ikube.model.IndexableTable"
		property:name="campaign_facebook_ad_group"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="campaign_facebook_virual"
		class="ikube.model.IndexableTable"
		property:name="campaign_facebook_virual"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="campaign_set"
		class="ikube.model.IndexableTable"
		property:name="campaign_set"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="campaign_set_parameter"
		class="ikube.model.IndexableTable"
		property:name="campaign_set_parameter"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="campaign_set_parameter_type"
		class="ikube.model.IndexableTable"
		property:name="campaign_set_parameter_type"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="campaign_set_placement_type"
		class="ikube.model.IndexableTable"
		property:name="campaign_set_placement_type"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="campaign_set_site"
		class="ikube.model.IndexableTable"
		property:name="campaign_set_site"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="campaign_set_target_age_group"
		class="ikube.model.IndexableTable"
		property:name="campaign_set_target_age_group"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="campaign_set_target_heading"
		class="ikube.model.IndexableTable"
		property:name="campaign_set_target_heading"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="campaign_set_target_location"
		class="ikube.model.IndexableTable"
		property:name="campaign_set_target_location"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="campaign_set_target_segment"
		class="ikube.model.IndexableTable"
		property:name="campaign_set_target_segment"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="country"
		class="ikube.model.IndexableTable"
		property:name="country"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="customer_artwork"
		class="ikube.model.IndexableTable"
		property:name="customer_artwork"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="dbmaintain_scripts"
		class="ikube.model.IndexableTable"
		property:name="dbmaintain_scripts"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="facebook_ad_group"
		class="ikube.model.IndexableTable"
		property:name="facebook_ad_group"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="job_retry_detail"
		class="ikube.model.IndexableTable"
		property:name="job_retry_detail"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="language"
		class="ikube.model.IndexableTable"
		property:name="language"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="language_site_configuration"
		class="ikube.model.IndexableTable"
		property:name="language_site_configuration"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="locale"
		class="ikube.model.IndexableTable"
		property:name="locale"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="message_track"
		class="ikube.model.IndexableTable"
		property:name="message_track"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="network_delivery_channel"
		class="ikube.model.IndexableTable"
		property:name="network_delivery_channel"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="network_delivery_channel_configuration"
		class="ikube.model.IndexableTable"
		property:name="network_delivery_channel_configuration"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="network_delivery_channel_site"
		class="ikube.model.IndexableTable"
		property:name="network_delivery_channel_site"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="persistent_logins"
		class="ikube.model.IndexableTable"
		property:name="persistent_logins"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="placement_type"
		class="ikube.model.IndexableTable"
		property:name="placement_type"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="placement_type_site"
		class="ikube.model.IndexableTable"
		property:name="placement_type_site"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="position"
		class="ikube.model.IndexableTable"
		property:name="position"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="position_text"
		class="ikube.model.IndexableTable"
		property:name="position_text"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="position_type"
		class="ikube.model.IndexableTable"
		property:name="position_type"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="position_type_site"
		class="ikube.model.IndexableTable"
		property:name="position_type_site"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="role"
		class="ikube.model.IndexableTable"
		property:name="role"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="site"
		class="ikube.model.IndexableTable"
		property:name="site"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="site_configuration"
		class="ikube.model.IndexableTable"
		property:name="site_configuration"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:allColumns="true"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="site_configuration_target_segment"
		class="ikube.model.IndexableTable"
		property:name="site_configuration_target_segment"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="target_age_group"
		class="ikube.model.IndexableTable"
		property:name="target_age_group"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="target_heading"
		class="ikube.model.IndexableTable"
		property:name="target_heading"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="target_location"
		class="ikube.model.IndexableTable"
		property:name="target_location"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="target_segment"
		class="ikube.model.IndexableTable"
		property:name="target_segment"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="target_segment_target_heading"
		class="ikube.model.IndexableTable"
		property:name="target_segment_target_heading"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="user"
		class="ikube.model.IndexableTable"
		property:name="user"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	<bean
		id="user_role"
		class="ikube.model.IndexableTable"
		property:name="user_role"
		property:allColumns="true"
		property:primaryTable="true"
		property:dataSource-ref="campaignDatabase"
		property:maxExceptions="10" 
		property:stored="true"
		property:analyzed="true"
		property:vectored="true" />
	
</beans>