<?xml version="1.0" encoding="UTF-8"?>

<!--suppress SpringBeanNameConventionInspection -->
<beans
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:property="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"

    xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd">

    <bean
        name="bosal"
        class="ikube.model.IndexContext"
        property:name="bosal"
        property:maxAge="6000"
        property:compoundFile="true"
        property:bufferedDocs="10"
        property:bufferSize="32"
        property:internetBatchSize="10"
        property:mergeFactor="10"
        property:maxFieldLength="1000"
        property:maxReadLength="100000"
        property:throttle="0"
        property:indexDirectoryPath="${index.directory.path}"
        property:indexDirectoryPathBackup="${index.directory.path.backup}"
        property:children-ref="bosal-indexables"/>
    <util:list id="bosal-indexables">
        <ref bean="bosal-mail-exchange"/>
        <ref bean="bosal-site"/>
    </util:list>

    <!--
        If the field is vectored or tokenized then the results from the
        searches are surprising. For example for the classification field, i.e.
        positive and negative, there are no results unless the search string is
        something like 'positi~', strangely enough.
            property:resumeIndexFrom
            property:resumeIndexFromMessage;
            property:indexFromDate;
    -->
    <bean
        name="bosal-mail-exchange"
        class="ikube.model.IndexableExchange"
        property:name="bosal-mail-exchange"

        property:exchangeUrl="https://outlook.office365.com/ews/exchange.asmx"
        property:exchangeUserid="administrator@iKube.onmicrosoft.com"
        property:exchangePassword="iKube101"

        property:messageMailboxNameField="Mailbox"
        property:messageMailboxOwnerField="Mailbox Owner"
        property:messageExchangeIdField="Message Exchange Id"
        property:messageInternetIdField="Message Internet Id"
        property:messageConversationIdField="Message Conversation Id"
        property:messageCreatedDateField="Message Created Date"
        property:messageSentDateField="Message Sent Date"
        property:messageReceivedDateField="Message Received Date"
        property:messageFromField="Message From"
        property:messageToField="Message To"
        property:messageBccField="Message Bcc"
        property:messageCcField="Message Cc"
        property:messageSubjectField="Message Subject"
        property:messageBodyField="Message Body"
        property:messageBodyTypeField="Message Body Type"

        property:analyzed="true"
        property:stored="true"
        property:vectored="false"
        property:tokenized="false"
        property:omitNorms="true"

        property:address="false"
        property:maxExceptions="100"

        property:threads="3"
        property:strategies-ref="bosal-strategies"/>

    <bean
        name="bosal-site"
        class="ikube.model.IndexableInternet"
        property:name="bosal-site"
        property:url="http://www.bosal.com/"
        property:idFieldName="url"
        property:titleFieldName="title"
        property:contentFieldName="contents"

        property:analyzed="true"
        property:stored="true"

        property:vectored="true"
        property:tokenized="false"

        property:omitNorms="true"

        property:address="false"
        property:excludedPattern="${internet.excluded.pattern}"
        property:maxExceptions="100"
        property:maxReadLength="1000000"
        property:timeout="60000"
        property:threads="3"
        property:internetBatchSize="${internet.batch.size}"
        property:strategies-ref="bosal-strategies"/>

    <util:list id="bosal-strategies">
        <ref bean="bosal-concatenation-strategy"/>
        <ref bean="bosal-cleaning-strategy"/>
        <ref bean="bosal-filter-strategy"/>
        <ref bean="bosal-to-lowercase-strategy"/>
        <ref bean="bosal-language-detection-strategy"/>
        <ref bean="bosal-document-analysis-strategy"/>
    </util:list>

    <bean
        name="bosal-concatenation-strategy"
        class="ikube.action.index.handler.strategy.ContentConcatenationStrategy"/>
    <bean
        name="bosal-cleaning-strategy"
        class="ikube.action.index.handler.strategy.LanguageCleaningStrategy"/>
    <bean
        name="bosal-filter-strategy"
        class="ikube.action.index.handler.strategy.LanguageFilterStrategy"/>
    <bean
        name="bosal-to-lowercase-strategy"
        class="ikube.action.index.handler.strategy.ToLowerCaseStrategy"/>
    <bean
        name="bosal-language-detection-strategy"
        class="ikube.action.index.handler.strategy.LanguageDetectionStrategy"
        init-method="initialize"/>
    <bean
        name="bosal-document-analysis-strategy"
        class="ikube.action.index.handler.strategy.DocumentAnalysisStrategy"
        property:context-ref="english-sentiment"/>

</beans>