<?xml version="1.0" encoding="UTF-8"?>

<beans
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:property="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"

    xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd">

    <!--
        This configuration is to index the local file system. Please feel free to delete this
        index context from the configuration if not needed.

        Extra 'fuzzy search' property, makes the index much larger
        property:analyzer-ref="ikube.action.index.analyzer.EdgeNgramAnalyzer"
    -->
    <bean
        id="desktop"
        class="ikube.model.IndexContext"
        property:name="desktop"
        property:maxAge="6000"
        property:compoundFile="${compound.file}"
        property:bufferedDocs="${buffered.docs}"
        property:bufferSize="${buffer.size}"
        property:batchSize="${jdbc.batch.size}"
        property:internetBatchSize="${internet.batch.size}"
        property:mergeFactor="${merge.factor}"
        property:maxFieldLength="${max.field.length}"
        property:maxReadLength="${max.read.length}"
        property:throttle="0"
        property:threads="1"
        property:delta="false"
        property:indexDirectoryPath="${index.directory.path}"
        property:indexDirectoryPathBackup="${index.directory.path}"
        property:children-ref="desktopFolders"/>
    <util:list id="desktopFolders">
        <ref local="desktopFolder"/>
    </util:list>

    <!--
        Note that the path to the files is a slash, on Linux this is the root and on Windows this will be the
        root of the drive that the application is started on, so it would be C:/ if the Tomcat is on the C drive.
    -->
    <bean
        id="desktopFolder"
        class="ikube.model.IndexableFileSystem"
        property:name="desktopFolder"
        property:path="/"
        property:pathFieldName="path"
        property:nameFieldName="name"
        property:lengthFieldName="length"
        property:contentFieldName="contents"
        property:lastModifiedFieldName="lastmodified"
        property:unpackZips="false"
        property:stored="${stored}"
        property:analyzed="${analyzed}"
        property:vectored="${vectored}"
        property:excludedPattern="${files.excluded.pattern}"
        property:batchSize="${file.batch.size}"
        property:maxReadLength="${max.read.length}"
        property:maxExceptions="1000"
        property:threads="1"
        property:strategies-ref="desktop-strategies"/>

    <util:list id="desktop-strategies">
        <bean class="ikube.action.index.handler.strategy.ContentConcatenationStrategy"/>

        <ref bean="ikube.action.index.handler.strategy.LanguageFilterStrategy"/>
        <ref bean="ikube.action.index.handler.strategy.LanguageCleaningStrategy"/>

        <bean class="ikube.action.index.handler.strategy.ToLowerCaseStrategy"/>
        <!--<bean class="ikube.action.index.handler.strategy.SpellingCorrectionStrategy"/>-->

        <ref bean="ikube.action.index.handler.strategy.ContentTypeStrategy"/>
        <ref bean="ikube.action.index.handler.strategy.LanguageDetectionStrategy"/>

        <bean
            class="ikube.action.index.handler.strategy.DocumentAnalysisStrategy"
            property:context-ref="english-sentiment"/>
    </util:list>

</beans>