<?xml version="1.0" encoding="UTF-8"?>

<beans
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:property="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"

	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd">

	<description>
		This file is not to be modified by users generally.
		This is the standard configuration for indexing the Ikube documentation wherever 
		it is deployed. We assume the port to be the default, i.e. 80, although this may not be 
		the case. The online documentation should mention this and the search results 
		should also.
	</description>
	
	<bean
		id="ikube"
		class="ikube.model.IndexContext"
		property:name="ikube"
		property:maxAge="600"
		property:compoundFile="true"
		property:bufferedDocs="100"
		property:bufferSize="32"
		property:internetBatchSize="10"
		property:mergeFactor="100"
		property:maxFieldLength="10000"
		property:maxReadLength="10000000"
		property:throttle="0"
		property:indexDirectoryPath="${index.directory.path}"
		property:indexDirectoryPathBackup="${index.directory.path.backup}"
		property:analyzer-ref="ikube.action.index.analyzer.EdgeNgramAnalyzer" 
		property:children-ref="ikubeIndexables" />
	<util:list id="ikubeIndexables">
		<ref local="ikubeInternet" />
		<ref local="ikubeGoogleCode" />
	</util:list>
	
	<bean
		id="ikubeInternet"
		class="ikube.model.IndexableInternet"
		property:name="internet"
		property:url="http://www.ikube.be/site/" 
		property:idFieldName="id"
		property:titleFieldName="title"
		property:contentFieldName="contents"
		property:analyzed="true"
		property:stored="true"
		property:vectored="true"
		property:threads="5"
		property:internetBatchSize="${internet.batch.size}" 
		property:strategies-ref="internet-strategies" />
		
	<bean
		id="ikubeGoogleCode"
		class="ikube.model.IndexableInternet"
		property:name="ikubeGoogleCode"
		property:url="http://code.google.com/p/ikube/" 
		property:idFieldName="id"
		property:titleFieldName="title"
		property:contentFieldName="contents"
		property:analyzed="${analyzed}"
		property:stored="${stored}"
		property:vectored="${vectored}"
		property:threads="25"
		property:internetBatchSize="${internet.batch.size}" 
		property:strategies-ref="internet-strategies" />
	
	<util:list id="internet-strategies">
		<ref bean="ikube.action.index.handler.strategy.ContentTypeStrategy" />
		<ref bean="ikube.action.index.handler.strategy.LanguageDetectionStrategy" />
	</util:list>
	
</beans>