<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:property="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd">

    <description>This configuration is for the geoname csv file.</description>

    <bean
            id="geoname-csv"
            class="ikube.model.IndexContext"
            property:name="geoname-csv"
            property:throttle="0"
            property:maxAge="60000"
            property:batchSize="1000"
            property:bufferSize="256"
            property:bufferedDocs="1000"
            property:children-ref="geoname-csv-indexables"
            property:compoundFile="true"
            property:indexDirectoryPath="${index.directory.path}"
            property:indexDirectoryPathBackup="${index.directory.path}"
            property:internetBatchSize="${internet.batch.size}"
            property:maxFieldLength="100000"
            property:maxReadLength="100000"
            property:mergeFactor="256"
            property:address="true"
    />
    <!--property:analyzer-ref="geoname-csv-analyzer"-->
    <bean
            id="geoname-csv-analyzer"
            class="ikube.action.index.analyzer.EdgeNgramAnalyzer"
            property:minGram="4"
            property:maxGram="21"/>

    <util:list id="geoname-csv-indexables">
        <ref local="geoname-csv-files"/>
    </util:list>

    <bean
            id="geoname-csv-files"
            class="ikube.model.IndexableFileSystemCsv"
            property:name="geoname-csv-files"
            property:path="/home/geoname/allCountries.csv"
            property:pathFieldName="path"
            property:nameFieldName="name"
            property:lengthFieldName="length"
            property:contentFieldName="contents"

            property:unpackZips="false"

            property:stored="true"
            property:analyzed="true"
            property:vectored="false"
            property:address="true"
            property:omitNorms="true"
            property:tokenized="true"
            property:threads="8"
            property:allColumns="false"

            property:excludedPattern="none"
            property:lastModifiedFieldName="lastmodified"
            property:batchSize="1000"
            property:maxReadLength="1000000"
            property:separator=";"
            property:maxExceptions="10000"
            property:encoding="UTF-8"
            property:maxLines="100000000"
            property:children-ref="geoname-csv-files-columns"
            property:strategies-ref="geoname-csv-files-strategies" />
    <util:list id="geoname-csv-files-columns">
        <ref local="geoname-csv-name"/>
        <ref local="geoname-csv-latitude"/>
        <ref local="geoname-csv-longitude"/>
    </util:list>

    <util:list id="geoname-csv-files-strategies">
        <bean class="ikube.action.index.handler.strategy.LanguageDetectionStrategy" init-method="initialize"/>
        <bean class="ikube.action.index.handler.strategy.GeospatialEnrichmentStrategy" init-method="initialize"/>
    </util:list>

    <bean
            id="geoname-csv-name"
            class="ikube.model.IndexableColumn"
            property:name="name"
            property:fieldName="name"
            property:address="true"
            property:omitNorms="true"

            property:stored="true"
            property:analyzed="true"
            property:vectored="false"
            property:numeric="false"/>

    <bean
            id="geoname-csv-latitude"
            class="ikube.model.IndexableColumn"
            property:name="latitude"
            property:fieldName="latitude"
            property:analyzed="true"
            property:numeric="true"
            property:stored="true"
            property:vectored="false"/>

    <bean
            id="geoname-csv-longitude"
            class="ikube.model.IndexableColumn"
            property:name="longitude"
            property:fieldName="longitude"
            property:analyzed="true"
            property:numeric="true"
            property:stored="true"
            property:vectored="false"/>

    <!--<bean
            id="geospatialAlternatenames"
            class="ikube.model.IndexableColumn"
            property:name="alternatenames"

            property:fieldName="alternatenames"
            property:address="false"
            property:omitNorms="true"

            property:stored="true"
            property:analyzed="true"
            property:vectored="false"
            property:numeric="false"/>

    <bean
            id="geospatialPopulation"
            class="ikube.model.IndexableColumn"
            property:name="population"
            property:fieldName="population"
            property:address="false"
            property:omitNorms="true"

            property:stored="true"
            property:analyzed="true"
            property:vectored="false"
            property:numeric="true"/>

    <bean
            id="geospatialElevation"
            class="ikube.model.IndexableColumn"
            property:name="elevation"
            property:fieldName="elevation"

            property:address="false"
            property:omitNorms="true"

            property:stored="true"
            property:analyzed="true"
            property:vectored="false"
            property:numeric="true"/>

    <bean
            id="geospatialTimezone"
            class="ikube.model.IndexableColumn"
            property:name="timezone"
            property:fieldName="timezone"

            property:address="false"
            property:omitNorms="true"

            property:stored="true"
            property:analyzed="true"
            property:vectored="false"
            property:numeric="false"/>-->

</beans>