<?xml version="1.0" encoding="UTF-8"?>

<!--suppress SpringBeanNameConventionInspection -->
<beans
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:property="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"

    xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd">

    <description>
        This file is not to be modified by users generally.
    </description>

    <bean
        id="ikube-rules"
        class="ikube.model.IndexContext"
        property:name="ikube-rules"
        property:maxAge="600"
        property:compoundFile="${compound.file}"
        property:bufferedDocs="${buffered.docs}"
        property:bufferSize="${buffer.size}"
        property:batchSize="${jdbc.batch.size}"
        property:internetBatchSize="${internet.batch.size}"
        property:mergeFactor="${merge.factor}"
        property:maxFieldLength="${max.field.length}"
        property:maxReadLength="${max.read.length}"
        property:address="false"
        property:delta="true"
        property:throttle="${throttle}"
        property:indexDirectoryPath="${index.directory.path}"
        property:indexDirectoryPathBackup="${index.directory.path}"
        property:children-ref="ikube-rule"/>
    <util:list id="ikube-rule">
        <ref local="rule"/>
    </util:list>

    <bean
        id="rule"
        class="ikube.model.IndexableTable"
        property:name="rule"
        property:address="true"
        property:maxExceptions="1000"
        property:threads="1"
        property:allColumns="true"

        property:stored="true"
        property:analyzed="true"
        property:vectored="false"
        property:omitNorms="true"

        property:children-ref="rule-columns"
        property:dataSource-ref="nonXaDataSourceDb2"
        property:strategies-ref="rule-strategies"/>
    <util:list id="rule-columns">
        <ref local="rule-id"/>
    </util:list>

    <util:list id="rule-strategies">
        <ref bean="ikube.action.index.handler.strategy.LanguageFilterStrategy"/>
        <ref bean="ikube.action.index.handler.strategy.LanguageCleaningStrategy"/>
        <ref bean="ikube.action.index.handler.strategy.LanguageDetectionStrategy"/>
        <ref bean="rule-classification-strategy-en"/>
    </util:list>

    <!--
        The names of the beans are important. The name of the classifier wrapper, 'rule-sentiment-smo-en',
        must match the reference in the context, and the name specified in the analysis strategy. The contexts
        and thereby the analyzer are looked up using the 'context' name.
    -->

    <!-- Define the classifier wrapper. -->
    <bean id="rule-sentiment-smo-en" name="rule-sentiment-smo-en" class="ikube.analytics.weka.WekaClassifier"/>
    <!-- Define the filter to convert the data to vectors. -->
    <bean id="rule-string-to-word-vector-en" class="weka.filters.unsupervised.attribute.StringToWordVector"/>
    <!-- Define the Weka algorithm from Weka to perform the logic. -->
    <bean id="rule-weka-classifier-smo-en" name="rule-weka-classifier-smo-en" class="weka.classifiers.functions.SMO"/>
    <!-- Define the context to wrap all the beans together for the analyzer. -->
    <bean
        id="rule-context-smo-en"
        name="rule-context-smo-en"
        class="ikube.model.Context"
        property:name="rule-context-smo-en"
        property:analyzer-ref="rule-sentiment-smo-en"
        property:filter-ref="rule-string-to-word-vector-en"
        property:algorithm-ref="rule-weka-classifier-smo-en"
        property:fileName="sentiment-smo-en.arff"
        property:maxTraining="1000000"
        property:analyzerInfo-ref="rule-analyzer-info-smo"/>
    <!-- This bean contains human readable data about the analyzer defined above. -->
    <bean
        id="rule-analyzer-info-smo"
        class="ikube.model.AnalyzerInfo"
        property:analyzer="ikube.analytics.weka.WekaClassifier"
        property:filter="weka.filters.unsupervised.attribute.StringToWordVector"
        property:algorithm="weka.classifiers.functions.SMO"/>
    <!-- Define the strategy that will intercept the processing to user the above defined analyzer. -->
    <bean
        id="rule-classification-strategy-en"
        class="ikube.action.index.handler.strategy.AnalysisStrategy"
        property:language="English"
        property:context-ref="rule-context-smo-en"
        init-method="initialize"/>

    <bean
        id="rule-id"
        class="ikube.model.IndexableColumn"
        property:name="id"
        property:parent-ref="rule"
        property:idColumn="true"
        property:omitNorms="true"
        property:stored="true"
        property:analyzed="true"
        property:vectored="false"/>

</beans>
