<?xml version="1.0" encoding="UTF-8"?>

<beans
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:property="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"

    xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd">

    <description>
        This file is not to be modified by users generally.
        This is the standard configuration for indexing the Ikube documentation wherever
        it is deployed. We assume the port to be the default, i.e. 80, although this may not be
        the case. The online documentation should mention this and the search results
        should also.
    </description>

    <bean
        id="ikube"
        class="ikube.model.IndexContext"
        property:name="ikube"
        property:maxAge="60000"
        property:compoundFile="true"
        property:bufferedDocs="10"
        property:bufferSize="32"
        property:internetBatchSize="10"
        property:mergeFactor="10"
        property:maxFieldLength="1000"
        property:maxReadLength="100000"
        property:throttle="0"
        property:indexDirectoryPath="${index.directory.path}"
        property:indexDirectoryPathBackup="${index.directory.path.backup}"
        property:children-ref="ikube-indexables"/>
    <util:list id="ikube-indexables">
        <!--<ref local="ikube-internet"/>-->
        <ref local="ikube-svn-google-code"/>
    </util:list>

    <bean
        id="ikube-internet"
        class="ikube.model.IndexableInternet"
        property:name="ikube-internet"
        property:url="http://www.ikube.be/site/"
        property:idFieldName="id"
        property:titleFieldName="title"
        property:contentFieldName="contents"

        property:analyzed="true"
        property:stored="true"
        property:vectored="false"
        property:tokenized="false"
        property:omitNorms="true"

        property:address="false"
        property:excludedPattern="${internet.excluded.pattern}"
        property:maxExceptions="100"
        property:maxReadLength="100000"
        property:timeout="60000"
        property:threads="3"
        property:internetBatchSize="${internet.batch.size}"
        property:strategies-ref="internet-strategies"/>

    <util:list id="internet-strategies">
        <ref bean="ikube.action.index.handler.strategy.ContentTypeStrategy"/>
        <ref bean="ikube.action.index.handler.strategy.LanguageDetectionStrategy"/>
    </util:list>

    <bean
        id="ikube-svn-google-code"
        class="ikube.model.IndexableSvn"
        property:name="ikube-svn-google-code"
        property:url="https://ikube.googlecode.com/svn"
        property:filePath="trunk"

        property:analyzed="true"
        property:stored="true"
        property:vectored="false"
        property:tokenized="false"
        property:omitNorms="true"

        property:address="false"/>

</beans>