<?xml version="1.0" encoding="UTF-8"?>

<beans
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:property="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"

    xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd">

    <description>
        This file is not to be modified by users generally.
        This index is of all the data in the ikube database for easy access, could ba an action or an exception,
        or even a search for example.
    </description>

    <bean
        id="ikube-system"
        class="ikube.model.IndexContext"
        property:name="ikube-system"
        property:maxAge="60000"
        property:compoundFile="${compound.file}"
        property:bufferedDocs="${buffered.docs}"
        property:bufferSize="${buffer.size}"
        property:batchSize="${jdbc.batch.size}"
        property:internetBatchSize="${internet.batch.size}"
        property:mergeFactor="${merge.factor}"
        property:maxFieldLength="${max.field.length}"
        property:maxReadLength="${max.read.length}"
        property:address="false"
        property:throttle="${throttle}"
        property:indexDirectoryPath="${index.directory.path}"
        property:indexDirectoryPathBackup="${index.directory.path}"
        property:children-ref="ikube-system-indexables"/>
    <util:list id="ikube-system-indexables">
        <ref local="ikube-data-source"/>
    </util:list>

    <bean
        id="ikube-data-source"
        class="ikube.model.IndexableDataSource"
        property:name="ikube-data-source"
        property:dataSource-ref="${ikube.dataSource}"
        property:excludedTablePatterns="SYS:$"/>

</beans>