<?xml version="1.0" encoding="UTF-8"?>

<beans
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:property="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"

	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd">

	<description>
		This file is not to be modified by users generally.
		This is the configuration for the GeoSpatial index which is an index 
		of the geonames table on the Ikube server.
	</description>
	
	<bean
		id="geospatialPostgres"
		class="ikube.model.IndexContext"
		property:name="geospatialPostgres"
		property:maxAge="${max.age.geospatial}"
		property:compoundFile="${compound.file}"
		property:bufferedDocs="${buffered.docs}"
		property:bufferSize="${buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${merge.factor}"
		property:maxFieldLength="${max.field.length}"
		property:maxReadLength="${max.read.length}"
		property:address="true"
		property:throttle="0"
		property:indexDirectoryPath="${index.directory.path}"
		property:indexDirectoryPathBackup="${index.directory.path.backup}"
		property:children-ref="geospatialIndexablesPostgres"
		property:analyzer-ref="ikube.action.index.analyzer.NgramAnalyzer"
		property:strategies-ref="geoname-strategies" />
	
	<!-- <bean
		id="geospatialPostgres"
		class="ikube.model.IndexContext"
		property:name="geospatialPostgres"
		property:maxAge="${max.age.geospatial}"
		property:compoundFile="${compound.file}"
		property:bufferedDocs="${buffered.docs}"
		property:bufferSize="${buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${merge.factor}"
		property:maxFieldLength="${max.field.length}"
		property:maxReadLength="${max.read.length}"
		property:throttle="${throttle}"
		property:indexDirectoryPath="${index.directory.path}"
		property:indexDirectoryPathBackup="${index.directory.path.backup}"
		property:children-ref="geospatialIndexablesPostgres" /> -->
		
	<util:list id="geospatialIndexablesPostgres">
		<ref local="geonamePostgres" />
	</util:list>
	
	<bean
		id="geonamePostgres"
		class="ikube.model.IndexableTable"
		property:name="geoname"
		property:address="true"
		property:dataSource-ref="nonXaDataSourcePostgresql"
		property:children-ref="geonameColumns" 
		property:maxExceptions="10" />

</beans>