<?xml version="1.0" encoding="UTF-8"?>

<beans 
	xmlns="http://www.springframework.org/schema/beans" 
	xmlns:amq="http://activemq.apache.org/schema/core" 
	xmlns:jms="http://www.springframework.org/schema/jms"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:property="http://www.springframework.org/schema/p"
	
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://activemq.apache.org/schema/core 
		http://activemq.apache.org/schema/core/activemq-core-5.2.0.xsd
		http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/jms 
		http://www.springframework.org/schema/jms/spring-jms-3.0.xsd">

	<!-- Create an embedded ActiveMQ Broker -->
	<amq:broker useJmx="false" persistent="true">
		<amq:destinationInterceptors>
			<amq:virtualDestinationInterceptor>
				<amq:virtualDestinations>
					<amq:compositeQueue id="composite.destination" name="composite.destination">
						<amq:forwardTo>
							<amq:queue physicalName="destination" />
							<!-- <amq:topic physicalName="destination" /> -->
						</amq:forwardTo>
					</amq:compositeQueue>
				</amq:virtualDestinations>
			</amq:virtualDestinationInterceptor>
		</amq:destinationInterceptors>
		<amq:networkConnectors>
			<amq:networkConnector uri="multicast://default">
				<amq:dynamicallyIncludedDestinations>
					<amq:topic physicalName="destination" />
					<amq:queue physicalName="queue" />
				</amq:dynamicallyIncludedDestinations>
			</amq:networkConnector>
		</amq:networkConnectors>
		<amq:persistenceAdapter>
			<amq:memoryPersistenceAdapter />
		</amq:persistenceAdapter>
		<amq:transportConnectors>
			<amq:transportConnector 
				uri="tcp://localhost:${activemq.port}" 
				discoveryUri="multicast://default?initialReconnectDelay=1000" />
		</amq:transportConnectors>
	</amq:broker>

	<!-- A connection to ActiveMQ -->
	<bean 
		id="amqConnectionFactory" 
		class="org.apache.activemq.ActiveMQConnectionFactory" 
		property:brokerURL="tcp://localhost:${activemq.port}" />

	<!-- A cached connection to wrap the ActiveMQ connection -->
	<bean 
		id="cachedConnectionFactory" 
		class="org.springframework.jms.connection.CachingConnectionFactory"
		property:targetConnectionFactory-ref="amqConnectionFactory" 
		property:sessionCacheSize="10" />

	<!-- A queue in ActiveMQ -->
	<bean 
		id="destination" 
		class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="destination" />
	</bean>

	<!-- A topic in ActiveMQ -->
	<bean 
		id="topic" 
		class="org.apache.activemq.command.ActiveMQTopic">
		<constructor-arg value="topic" />
	</bean>

	<!-- A JmsTemplate instance that uses the cached connection and topic -->
	<bean 
		id="jmsTemplate" 
		class="org.springframework.jms.core.JmsTemplate" 
		property:connectionFactory-ref="cachedConnectionFactory"
		property:defaultDestination-ref="destination" />
		
	<!-- This is the listener and the producer of messages. -->
	<bean 
		id="ikube.cluster.IClusterManager"
		class="ikube.cluster.jms.ClusterManagerJms"
		init-method="initialize"
		destroy-method="destroy" />

	<!-- The Spring message listener container configuration -->
	<jms:listener-container 
		container-type="default" 
		connection-factory="amqConnectionFactory" 
		acknowledge="auto">
		<jms:listener 
			destination="destination" 
			ref="ikube.cluster.IClusterManager" 
			method="onMessage" />
	</jms:listener-container>
</beans>