<?xml version="1.0" encoding="UTF-8"?>

<beans:beans 
	xmlns="http://www.springframework.org/schema/security" 
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	
	xsi:schemaLocation="
			http://www.springframework.org/schema/security
			http://www.springframework.org/schema/security/spring-security-3.0.xsd
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<beans:description>
		This is the users login file. Another user service can be defined of course, just 
		choose one that you would like, perhaps Ldap, and define it here as the 'userService'
		and violla. 
	</beans:description>
	
	<user-service id="userService">
	    <user name="nico" password="Bp0st2013" authorities="ROLE_USER,ROLE_ADMIN" />
	    <user name="pascal" password="Bp0st2013" authorities="ROLE_USER,ROLE_ADMIN" />
	    <user name="michael" password="Bp0st2013" authorities="ROLE_USER,ROLE_ADMIN" />
  	</user-service>
  	
</beans:beans>