<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:property="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:transaction="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- <aop:config proxy-target-class="true" />
	<aop:aspectj-autoproxy proxy-target-class="true" /> -->
	<context:spring-configured />
    <context:annotation-config />
	<context:component-scan base-package="ikube" />
	<!-- <context:load-time-weaver 
		aspectj-weaving="on" 
		weaver-class="org.springframework.instrument.classloading.SimpleLoadTimeWeaver" /> -->
	
	<context:property-placeholder
		location="classpath*:**/spring.properties" 
		properties-ref="ikube.toolkit.PropertyConfigurer" />

	<!-- This bean will look through the classpath and load every Spring properties file it finds. -->
	<bean
		id="ikube.toolkit.PropertyConfigurer"
		class="ikube.toolkit.PropertyConfigurer"
		property:fileNamePattern="spring.properties"
		lazy-init="false"
		init-method="initialize" />
	
	<!-- External file system resources. -->
	<import resource="file:ikube/spring*.xml" />

	<mvc:annotation-driven />
	<context:annotation-config />
	<context:component-scan base-package="ikube" />

	<bean class="ikube.toolkit.ApplicationContextManager" />
	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
    <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter" />
    
	<!-- This configures the tiles container. -->
	<bean 
		id="tilesConfigurer" 
		class="org.springframework.web.servlet.view.tiles2.TilesConfigurer" 
		property:definitions="/WEB-INF/tiles-defs/templates.xml" />
	
	<!-- 
		This is the second handler that will be called after the controller and will finally 
		resolve the view, i.e. it will wire the templates together and forward to the correct page. 
	-->
	<bean 
		id="vewResolver" 
		class="org.springframework.web.servlet.view.UrlBasedViewResolver" 
		property:order="2"
		property:suffix=".jsp"
		property:prefix="/WEB-INF/jsp/" 
		property:viewClass="org.springbyexample.web.servlet.view.tiles2.DynamicTilesView" />

	<!-- These are static resources basically. -->
	<mvc:view-controller path="/index.html" />
	
	<mvc:view-controller path="/documentation/index.html" />
	<mvc:view-controller path="/documentation/intro.html" />
	<mvc:view-controller path="/documentation/quickstart.html" />
	<mvc:view-controller path="/documentation/searching.html" />
	<mvc:view-controller path="/documentation/extra.html" />
	<mvc:view-controller path="/documentation/clustering.html" />
	<mvc:view-controller path="/documentation/indexes.html" />
	<mvc:view-controller path="/documentation/customisation.html" />
	
	<mvc:view-controller path="/documentation/configuration/context.html" />
	<mvc:view-controller path="/documentation/configuration/database.html" />
	<mvc:view-controller path="/documentation/configuration/email.html" />
	<mvc:view-controller path="/documentation/configuration/filesystem.html" />
	<mvc:view-controller path="/documentation/configuration/internet.html" />
	
	<mvc:interceptors>
		<bean 
			class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor"
			property:paramName="language" />
	</mvc:interceptors>

	<bean 
		id="localeResolver" 
		class="org.springframework.web.servlet.i18n.CookieLocaleResolver"
		property:cookieName="language"
		property:cookieMaxAge="604800" />
	
	<!-- Configure the multipart resolver -->
	<bean 
		id="multipartResolver" 
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver" 
		property:maxUploadSize="10000000" />

</beans>