<?xml version="1.0" encoding="UTF-8"?>

<beans:beans
    xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

    xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/security
			http://www.springframework.org/schema/security/spring-security-3.0.xsd">

	<beans:description>
		This is the security configuration for the application.
	</beans:description>

	<http auto-config="true">
		<anonymous />
		<intercept-url
			pattern="/use**" 
			access="ROLE_USER,ROLE_ADMIN" />
		<intercept-url 
			pattern="/search**" 
			access="ROLE_USER,ROLE_ADMIN" />
		<!--The login page, this goes to the login controller then to the login view/page(login.jsp).-->
		<form-login
			always-use-default-target="false"
			default-target-url="/"
			login-page="/login.html" 
			authentication-failure-url="/login.html" 
			login-processing-url="/login" />
		<!--The logout page that will be displayed.-->
		<logout 
			invalidate-session="true"
			logout-success-url="/login.html"
			logout-url="/logout" />
	</http>

	<!--
		This is the authentication manager that will block access to the user interface 
		if the user is not logged in.
	 -->
	<authentication-manager alias="authenticationManager">
		<!-- Local authentication provider. -->
		<authentication-provider user-service-ref="userService"  />
	</authentication-manager>
	
  	<!-- This bean enables the authorization. -->
	<beans:bean 
		id="defaultWebSecurityExpressionHandler"
		class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" />

</beans:beans>