#header {
	font: normal 13px Arial, Helvetica Neue, Helvetica, sans-serif;
	background-color: #000000;
	padding-top : 5px;
	padding-bottom : 5px;
	padding-left : 5px;
	color: #ffffff;
}

#header a {
	color: #ffffff;
	padding-left : 10px;
}

body {
	font: 11px Tahoma, Helvetica, sans-serif, Arial;
	border: 0;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

ul.tabs {
	margin: 10px;
	padding: 0px;
	float: left;
	list-style: none;
	height: 20px;
	width: 100%;
}

ul.tabs li {
	font: bold 12px Arial, Helvetica Neue, Helvetica, sans-serif;
	float: left;
	margin: 0;
	cursor: pointer;
	padding: 5px 21px;
	height: 19px;
	line-height: 19px;
	border-bottom : 1px solid #999999;
	font-weight: bold;
	background: #ffffff;
	overflow: hidden;
	position: relative;
}

ul.tabs li:hover {
	background: #ffffff;
}

ul.tabs li.active {
	background: #ffffff;
	border-bottom: none;
	border-left: 1px solid #999999;
	border-top : 1px solid #999999;
	border-right : 1px solid #999999;
}

.tab_container {
	border: 0px solid #999999;
	border-top: none;
	clear: both;
	float: left;
	width: 100%;
	background: #FFFFFF;
}

.tab_content {
	padding: 20px;
	font-size: 1.2em;
	display: none;
}

a {
	color: #aaaaaa;
	text-decoration: none;
}

table, td {
	margin : 0px;
	padding: 1px;
	border : 0;
	border-collapse: collapse;
}

table th {
	margin : 0px;
	padding: 2px;
	border : 1px solid #aaaaaa;
	border-collapse: collapse;
}

.active {
   	background-color: #e2f6c0;
	border-collapse: collapse;
}
.even {
	background-color: #ffffff;
	border : 1px solid #aaaaaa;
	border-collapse: collapse;
}
.odd {
	background-color: #f1f1f1;
	border : 1px solid #aaaaaa;
	border-collapse: collapse;
}
.bordered {
	border : 1px solid #aaaaaa;
	border-collapse: collapse;
}