table {
	background-color: #f5f5f5;
	padding: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #ebebeb;
}
table td, table th {
	padding: 1px 5px;
}
table thead {
	font: normal 12px Helvetica Neue,Helvetica,sans-serif;
	text-shadow: 0 1px 0 white;
	color: #999;
}
table th {
	text-align: left;
	border-bottom: 1px solid #fff;
}
table td {
	font: 12px Tahoma,Helvetica,sans-serif,Arial;
}
table td:hover {
	background-color: #fff;
}
