body {
	margin: 0px;
	padding: 0px;
	background: #ffffff;
	line-height: 13px;
	font-family: Tahoma, "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #2e2e2e;
}

table {
	line-height: 13px;
	font-family: Tahoma, "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #2e2e2e;
	text-align: left;
}

th {
	background-color: #f2eded;
}

td {
	vertical-align: top;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	font-weight: normal;
}

h1 { font-size: 44px; }

h2 { 
	font-size: 20px;
	margin-top: 15px;
	padding-top: 15px; 
}

h3 { }

p, ul, ol {
	margin-top: 0;
	text-align: justify;
}

ul, ol {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

a { 
	color: #111111;
	font-size: 12px;
	padding-bottom: 5px;
	line-height: 15px; 
}

a:hover { text-decoration: none; }

a img {
	border: none;
}

img.left {
	# float: left;
	margin: 7px 30px 0 0;
}

img.right {
	# float: right;
	margin: 7px 0 0 30px;
}

hr { display: none; }

.list1 {
}

.list1 li {
	# float: left;
	line-height: normal;
}

.list1 li img {
	margin: 0 15px 15px 0;
}

.list1 li.alt img {
	margin-right: 0;
}

#wrapper {
	width: 100%;
}

/* Header */
#header-wrapper {
	width: 920px;
	height: 173px;
	margin: 0px auto;
	padding: 0px;
}
#header {
	width: 920px;
	height: 80px;
	margin: 0px auto;
	text-decoration : none;
}
#header td {
	vertical-align : bottom;
	padding-bottom : 12px;
}
#header a {
	text-decoration : none;
}
#header .link {
	text-decoration: none;
	text-transform : lowercase;
	font-size : 14px;
	padding-left : 5px;
	padding-right : 10px;
	padding-bottom : 17px;
}

/* Title */
.title {
	font : normal 36px Arial, Helvetica, sans-serif;
	text-decoration : none;
	color : a5a5a5;
}

/* Logo */
#logo {
	float: left;
	padding: 50px 0 0 40px;
}
#logo h1 {
	float: left;
	margin: 0;
	padding: 0;
	font: normal 36px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#logo h1 a {
	color: #2c2c2c;
}
#logo h2 {
	float: left;
	padding: 10px 0px 0px 20px;
	text-transform: lowercase;
	font-size: 14px;
	color: #666666;
}
#logo a {
	text-decoration: none;
	color: #666666;
}

/* Menu */
#menu {
	# float: right;
	height: 173px;
}
#menu ul {
	margin: 0px;
	padding: 50px 40px 0px 15px;
	list-style: none;
}
#menu li {
	# float: left;
	padding-bottom: 15px;
}
#menu a {
	padding: 0px 20px 0px 22px;
	text-decoration: none;
	text-transform: lowercase;
	font-size: 14px;
	color: #7B7B7B;
}
#menu a:hover {
	text-decoration: underline;
	color: #0098A4;
}
#menu .first a {
	background: none;
}

/* Search */
#search {
	width: 220px;
	padding-bottom: 10px;
}
#search form {
	margin: 0;
}
#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
	/* padding-top : 42px; */
}
#search input {
	# float: left;
}
#search-text {
	width: 150px;
	padding: 7px 0px 0px 10px;
	background: #ffffff;
	border: none;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #636363;
	height : 25px;
	line-height : 25px;
	vertical-align : top;
	border : solid black 1px;
}
#search-text-plain {
	width: 80px;
	padding: 0px 0px 0px 0px;
	background: #eeeeee;
	border: none;
	font-family: Tahoma,""Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #636363;
	height : 12px;
	line-height : 12px;
	vertical-align : top;
	border : solid black 1px;
}
#search-submit {
	# float: left;
	width: 25px;
	border: none;
	color: #636363;
	height : 25px;
	vertical-align : top;
	border : solid black 1px;
}
#search-submit-plain {
	# float: right;
	width: 25px;
	border: none;
	color: #636363;
	height : 20px;
	vertical-align : top;
	border : solid black 1px;
}

/* Page */
#page {
	width: 840px;
	margin: 0px auto;
	padding: 40px 40px 0px 40px;
}

/* Content */
#content {
	# float: left;
	width: 750px;
}
#content .top-content {
	height: 50px;
	padding-top : 0px;
}
#content .top-content-header {
	text-transform: lowercase;
	font-size: 24px;
	font-weight: normal;
	color: #444444;
	padding-left: 20px;
}
#content .bottom-content {
	text-align : left;
	height : 80px;
	padding : 5px;
}
#content .table-content {
	padding : 0px;
}
#content .td-content {
	padding: 0px;
}
#content .date {
	float : right;
	color: #343434;
	padding-right : 60px;
}

/* Top image */
#top-image {
	padding-top : 10px;
	padding-bottom : 30px;
}

#banner {
	padding-bottom: 40px;
}

/* Post */
.post {
	margin-bottom: 25px;
}
.post .title {
	height: 32px;
	padding: 26px 0px 0px 30px;
	text-transform: lowercase;
	font-size: 24px;
	font-weight: normal;
	color: #343434;
}
.post .title h2 {
	margin: 0px;
	padding: 0px;
}
.post .date {
	# float: right;
	margin-top: -30px;
	padding-right: 20px;
	font-weight: normal;
	font-size: 14px;
	text-transform: lowercase;
	color: #343434;
}
.post strong {
	color: #9B9A9A;
}
.post .meta {
	height: 38px;
	padding-top: 0px;
}
.post .meta a { color: #8F8F8F; }
.post .entry {
}
.post .entry-btm {
	padding: 0px 0px;
}
.post .links {
	padding: 0px 0px 0px 0px;
	text-align: right;
}
.post .links .comments {
	padding-left: 20px;
}
.post .links .permalink {
	padding-left: 17px;
}

/* Sidebar */
#sidebar {
	# float: right;
	width: 220px;
}
#sidebar ul {
	margin: 0px;
	list-style: none;
	line-height: normal;
	text-align: right;
	border: none;
}
#sidebar li {
	margin-bottom: 0px;
}
#sidebar li ul {
	line-height: 100%;
	padding: 0px 0px;
}
#sidebar li li {
	margin: 0;
	padding: 0px 0px;
	background: url(/ikokoon/images/img13.jpg) repeat-x left bottom;
}
#sidebar p {
	margin: 0;
	padding: 0 20px;
}
#sidebar h2 {
	width: 190px;
	height: 26px;
	padding: 0px 0px 0px 0px;
	text-align: right;
	text-transform: lowercase;
	font-size: 14px;
	font-weight: normal;
	color: #343434;
}
#sidebar p {
	line-height: 200%;
	padding-bottom: 0px;
}

#sidebar a {
}

/* Calendar */
#calendar {
}
#calendar caption {
	padding-bottom: 5px;
	font-weight: bold;
}
#calendar table {
	width: 100%;
	border-collapse: collapse;
	border-right: 1px solid #F5F2EF;
}
#calendar thead th {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #F5F2EF;
	border-left: 1px solid #F5F2EF;
	background: #F5F2EF;
}
#calendar tbody td {
	padding: 0px 0;
	text-align: center;
	border-top: 1px solid #F5F2EF;
	border-left: 1px solid #F5F2EF;
}
#calendar tfoot td {
	padding: 0px;
}
#calendar tfoot #next {
	text-align: right;
}
#calendar #today {
	background: #E7F1E1;
}

/* Footer */
#footer {
	width: 920px;
	height: 100px;
	margin: 0px auto;
	padding: 0px;
}
#footer p {
	margin: 0;
	padding: 0px 0;
	text-align: center;
	text-transform: lowercase;
	line-height: normal;
	font-size: 11px;
	color: #1E1E1E;
}
#footer a {
	color: #1E1E1E;
}

select.imagebacked {
	padding: 2px 0 2px 0px;
	background-repeat: no-repeat;
	background-position: 1px 2px;
	vertical-align: middle;
}