<?xml version="1.0" encoding="UTF-8"?>

<beans
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:property="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"

	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- 
		This configuration is to index the local file system. Please feel free to delete this 
		index context from the configuration if not needed.
	-->
	<bean
		id="localFileSystemContext"
		class="ikube.model.IndexContext"
		property:name="localFileSystemContext"
		property:maxAge="6000"
		property:compoundFile="${compound.file}"
		property:bufferedDocs="${buffered.docs}"
		property:bufferSize="${buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${merge.factor}"
		property:maxFieldLength="${max.field.length}"
		property:maxReadLength="${max.read.length}"
		property:throttle="${throttle}"
		property:indexDirectoryPath="${index.directory.path}"
		property:indexDirectoryPathBackup="${index.directory.path.backup}"
		property:children-ref="indexables" />
	<util:list id="indexables">
		<ref local="localFileSystemContext" />
	</util:list>
	
	<!-- 
		Note that the path to the files is a slash, on Linux this is the root and on Windows this will be the
		root of the drive that the application is started on, so it would be C:/ if the Tomcat is on the C drive.  
	-->
	<bean
		id="localFileSystem"
		class="ikube.model.IndexableFileSystem"
		property:name="localFileSystem"
		property:path="/"
		property:pathFieldName="path"
		property:nameFieldName="name"
		property:lengthFieldName="length"
		property:contentFieldName="contents"
		property:unpackZips="false"
		property:excludedPattern="${files.excluded.pattern}"
		property:lastModifiedFieldName="lastmodified"
		property:batchSize="${file.batch.size}"
		property:maxReadLength="${file.max.read.length}" />

</beans>