<?xml version="1.0" encoding="UTF-8"?>

<beans
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:property="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"

	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd">

	<bean
		id="patientIndex"
		class="ikube.model.IndexContext"
		property:name="patientIndex"
		property:maxAge="${max.age}"
		property:compoundFile="${compound.file}"
		property:bufferedDocs="${buffered.docs}"
		property:bufferSize="${buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${merge.factor}"
		property:maxFieldLength="${max.field.length}"
		property:maxReadLength="${max.read.length}"
		property:throttle="${throttle}"
		property:indexDirectoryPath="${index.directory.path}"
		property:indexDirectoryPathBackup="${index.directory.path.backup}"
		property:children-ref="patientIndexables" />
	<util:list id="patientIndexables">
		<ref bean="patientTable" />
	</util:list>

	<!-- Db2 patients -->
	<bean
		id="patientTable"
		class="ikube.model.IndexableTable"
		property:name="patient"
		property:primaryTable="true"
		property:address="true"
		property:dataSource-ref="nonXaDataSourceDb2"
		property:children-ref="patientColumns" 
		property:maxExceptions="10" />
	<util:list id="patientColumns">
		<ref local="patientId" />
		<ref local="patientAddressId" />
		<ref local="firstName" />
		<ref local="lastName" />
		<ref local="birthDate" />
		<ref local="deathDate" />
		<ref local="addressTable" />
	</util:list>
	<bean
		id="addressTable"
		class="ikube.model.IndexableTable"
		property:name="address"
		property:primaryTable="false"
		property:address="true"
		property:dataSource-ref="nonXaDataSourceDb2"
		property:children-ref="addressColumns" 
		property:maxExceptions="10" />
	<util:list id="addressColumns">
		<ref local="addressId" />
		<ref local="numb" />
		<ref local="street" />
		<ref local="province" />
		<ref local="country" />
		<ref local="postCode" />
		<ref local="latitude" />
		<ref local="longitude" />
	</util:list>

	<bean
		id="patientId"
		class="ikube.model.IndexableColumn"
		property:name="id"
		property:idColumn="true"
		property:fieldName="patientId"
		property:analyzed="${analyzed}"
		property:stored="${stored}"
		property:vectored="${vectored}" />
	<bean
		id="patientAddressId"
		class="ikube.model.IndexableColumn"
		property:name="address_Id"
		property:fieldName="patientAddressId"
		property:analyzed="${analyzed}"
		property:stored="${stored}"
		property:vectored="${vectored}" />
	<bean
		id="firstName"
		class="ikube.model.IndexableColumn"
		property:name="firstName"
		property:fieldName="firstName"
		property:analyzed="${analyzed}"
		property:stored="${stored}"
		property:vectored="${vectored}" />
	<bean
		id="lastName"
		class="ikube.model.IndexableColumn"
		property:name="lastName"
		property:fieldName="lastName"
		property:analyzed="${analyzed}"
		property:stored="${stored}"
		property:vectored="${vectored}" />
	<bean
		id="birthDate"
		class="ikube.model.IndexableColumn"
		property:name="birthDate"
		property:fieldName="birthDate"
		property:analyzed="${analyzed}"
		property:stored="${stored}"
		property:vectored="${vectored}" />
	<bean
		id="deathDate"
		class="ikube.model.IndexableColumn"
		property:name="deathDate"
		property:fieldName="deathDate"
		property:analyzed="${analyzed}"
		property:stored="${stored}"
		property:vectored="${vectored}" />
	
	<bean
		id="addressId"
		class="ikube.model.IndexableColumn"
		property:name="id"
		property:idColumn="true"
		property:fieldName="addressId"
		property:foreignKey-ref="patientAddressId"
		property:analyzed="${analyzed}"
		property:stored="${stored}"
		property:vectored="${vectored}" />
	<bean
		id="numb"
		class="ikube.model.IndexableColumn"
		property:name="numb"
		property:fieldName="numb"
		property:address="true"
		property:analyzed="${analyzed}"
		property:stored="${stored}"
		property:vectored="${vectored}" />
	<bean
		id="street"
		class="ikube.model.IndexableColumn"
		property:name="street"
		property:fieldName="street"
		property:address="true"
		property:analyzed="${analyzed}"
		property:stored="${stored}"
		property:vectored="${vectored}" />
	<bean
		id="province"
		class="ikube.model.IndexableColumn"
		property:name="province"
		property:fieldName="province"
		property:address="true"
		property:analyzed="${analyzed}"
		property:stored="${stored}"
		property:vectored="${vectored}" />
	<bean
		id="country"
		class="ikube.model.IndexableColumn"
		property:name="country"
		property:fieldName="country"
		property:address="true"
		property:analyzed="${analyzed}"
		property:stored="${stored}"
		property:vectored="${vectored}" />
	<bean
		id="postCode"
		class="ikube.model.IndexableColumn"
		property:name="postCode"
		property:fieldName="postCode"
		property:address="true"
		property:analyzed="${analyzed}"
		property:stored="${stored}"
		property:vectored="${vectored}" />
	<bean
		id="latitude"
		class="ikube.model.IndexableColumn"
		property:name="latitude"
		property:fieldName="latitude"
		property:analyzed="${analyzed}"
		property:stored="${stored}"
		property:vectored="${vectored}" />
	<bean
		id="longitude"
		class="ikube.model.IndexableColumn"
		property:name="longitude"
		property:fieldName="longitude"
		property:analyzed="${analyzed}"
		property:stored="${stored}"
		property:vectored="${vectored}" />
		
</beans>