<?xml version="1.0" encoding="UTF-8"?>

<beans
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:property="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"

	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd">

	<bean
		id="wikiHistoryOne"
		class="ikube.model.IndexContext"
		property:name="wikiHistoryOne"
		property:maxAge="600000"
		property:compoundFile="${wiki.history.compound.file}"
		property:bufferedDocs="${buffered.docs}"
		property:bufferSize="${buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${merge.factor}"
		property:maxFieldLength="${max.field.length}"
		property:maxReadLength="${max.read.length}"
		property:throttle="0"
		property:indexDirectoryPath="/home/michael/Backup/wiki/history/1/index"
		property:indexDirectoryPathBackup="/home/michael/Backup/wiki/history/1/index"
		property:children-ref="wikiHistoryIndexablesOne" />
	<util:list id="wikiHistoryIndexablesOne">
		<ref local="wikiHistoryDataOne" />
	</util:list>
	<bean
		id="wikiHistoryDataOne"
		class="ikube.model.IndexableFileSystemWiki"
		property:name="wikiHistoryDataOne"
		property:path="/home/michael/Backup/wiki/history/1"
		property:pathFieldName="path"
		property:nameFieldName="name"
		property:lengthFieldName="length"
		property:contentFieldName="contents"
		property:lastModifiedFieldName="lastmodified"
		property:stored="${wiki.history.stored}"
		property:analyzed="${wiki.history.analyzed}"
		property:vectored="${wiki.history.vectored}"
		property:unpackZips="${wiki.history.unpack.zips}"
		property:excludedPattern="${files.excluded.pattern}"
		property:batchSize="${file.batch.size}"
		property:maxReadLength="${file.max.read.length}" 
		property:maxRevisions="${max.revisions}" />
	
	<bean
		id="wikiHistoryTwo"
		class="ikube.model.IndexContext"
		property:name="wikiHistoryTwo"
		property:maxAge="600000"
		property:compoundFile="${wiki.history.compound.file}"
		property:bufferedDocs="${buffered.docs}"
		property:bufferSize="${buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${merge.factor}"
		property:maxFieldLength="${max.field.length}"
		property:maxReadLength="${max.read.length}"
		property:throttle="0"
		property:indexDirectoryPath="/media/nas/xfs-two/index"
		property:indexDirectoryPathBackup="/media/nas/xfs-two/index"
		property:children-ref="wikiHistoryIndexablesTwo" />
	<util:list id="wikiHistoryIndexablesTwo">
		<ref local="wikiHistoryDataTwo" />
	</util:list>
	<bean
		id="wikiHistoryDataTwo"
		class="ikube.model.IndexableFileSystemWiki"
		property:name="wikiHistoryDataTwo"
		property:path="/media/nas/xfs-two"
		property:pathFieldName="path"
		property:nameFieldName="name"
		property:lengthFieldName="length"
		property:contentFieldName="contents"
		property:lastModifiedFieldName="lastmodified"
		property:stored="${wiki.history.stored}"
		property:analyzed="${wiki.history.analyzed}"
		property:vectored="${wiki.history.vectored}"
		property:unpackZips="${wiki.history.unpack.zips}"
		property:excludedPattern="${files.excluded.pattern}"
		property:batchSize="${file.batch.size}"
		property:maxReadLength="${file.max.read.length}" 
		property:maxRevisions="${max.revisions}" />

	<bean
		id="wikiHistoryThree"
		class="ikube.model.IndexContext"
		property:name="wikiHistoryThree"
		property:maxAge="600000"
		property:compoundFile="${wiki.history.compound.file}"
		property:bufferedDocs="${buffered.docs}"
		property:bufferSize="${buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${merge.factor}"
		property:maxFieldLength="${max.field.length}"
		property:maxReadLength="${max.read.length}"
		property:throttle="0"
		property:indexDirectoryPath="/media/nas/xfs-three/index"
		property:indexDirectoryPathBackup="/media/nas/xfs-three/index"
		property:children-ref="wikiHistoryIndexablesThree" />
	<util:list id="wikiHistoryIndexablesThree">
		<ref local="wikiHistoryDataThree" />
	</util:list>
	<bean
		id="wikiHistoryDataThree"
		class="ikube.model.IndexableFileSystemWiki"
		property:name="wikiHistoryDataThree"
		property:path="/media/nas/xfs-three"
		property:pathFieldName="path"
		property:nameFieldName="name"
		property:lengthFieldName="length"
		property:contentFieldName="contents"
		property:lastModifiedFieldName="lastmodified"
		property:stored="${wiki.history.stored}"
		property:analyzed="${wiki.history.analyzed}"
		property:vectored="${wiki.history.vectored}"
		property:unpackZips="${wiki.history.unpack.zips}"
		property:excludedPattern="${files.excluded.pattern}"
		property:batchSize="${file.batch.size}"
		property:maxReadLength="${file.max.read.length}" 
		property:maxRevisions="${max.revisions}" />

	<bean
		id="wikiHistoryFour"
		class="ikube.model.IndexContext"
		property:name="wikiHistoryFour"
		property:maxAge="600000"
		property:compoundFile="${wiki.history.compound.file}"
		property:bufferedDocs="${buffered.docs}"
		property:bufferSize="${buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${merge.factor}"
		property:maxFieldLength="${max.field.length}"
		property:maxReadLength="${max.read.length}"
		property:throttle="0"
		property:indexDirectoryPath="/media/nas/xfs-four/index"
		property:indexDirectoryPathBackup="/media/nas/xfs-four/index"
		property:children-ref="wikiHistoryIndexablesFour" />
	<util:list id="wikiHistoryIndexablesFour">
		<ref local="wikiHistoryDataFour" />
	</util:list>
	<bean
		id="wikiHistoryDataFour"
		class="ikube.model.IndexableFileSystemWiki"
		property:name="wikiHistoryDataFour"
		property:path="/media/nas/xfs-four"
		property:pathFieldName="path"
		property:nameFieldName="name"
		property:lengthFieldName="length"
		property:contentFieldName="contents"
		property:lastModifiedFieldName="lastmodified"
		property:stored="${wiki.history.stored}"
		property:analyzed="${wiki.history.analyzed}"
		property:vectored="${wiki.history.vectored}"
		property:unpackZips="${wiki.history.unpack.zips}"
		property:excludedPattern="${files.excluded.pattern}"
		property:batchSize="${file.batch.size}"
		property:maxReadLength="${file.max.read.length}" 
		property:maxRevisions="${max.revisions}" />

	<bean
		id="wikiHistoryFive"
		class="ikube.model.IndexContext"
		property:name="wikiHistoryFive"
		property:maxAge="600000"
		property:compoundFile="${wiki.history.compound.file}"
		property:bufferedDocs="${buffered.docs}"
		property:bufferSize="${buffer.size}"
		property:batchSize="${jdbc.batch.size}"
		property:internetBatchSize="${internet.batch.size}"
		property:mergeFactor="${merge.factor}"
		property:maxFieldLength="${max.field.length}"
		property:maxReadLength="${max.read.length}"
		property:throttle="0"
		property:indexDirectoryPath="/media/nas/xfs-five/index"
		property:indexDirectoryPathBackup="/media/nas/xfs-five/index"
		property:children-ref="wikiHistoryIndexablesFive" />
	<util:list id="wikiHistoryIndexablesFive">
		<ref local="wikiHistoryDataFive" />
	</util:list>
	<bean
		id="wikiHistoryDataFive"
		class="ikube.model.IndexableFileSystemWiki"
		property:name="wikiHistoryDataFive"
		property:path="/media/nas/xfs-five"
		property:pathFieldName="path"
		property:nameFieldName="name"
		property:lengthFieldName="length"
		property:contentFieldName="contents"
		property:lastModifiedFieldName="lastmodified"
		property:stored="${wiki.history.stored}"
		property:analyzed="${wiki.history.analyzed}"
		property:vectored="${wiki.history.vectored}"
		property:unpackZips="${wiki.history.unpack.zips}"
		property:excludedPattern="${files.excluded.pattern}"
		property:batchSize="${file.batch.size}"
		property:maxReadLength="${file.max.read.length}" 
		property:maxRevisions="${max.revisions}" />

</beans>